<template>
  <div class="wrapper">
    <topMenu></topMenu>
    <section class="data-operates data-operates-top">
      <Form ref="filterForm" :model="filterForm" :label-width="105">
        <div class="input-group">
          <FormItem label="Status" prop="status" class="item-status">
            <CheckboxGroup v-model="filterForm.status">
              <Checkbox :label="item.status_key" v-for="item in filterStatus" :key="item.status_key">
                <span>{{item.status_value}}</span>
              </Checkbox>
            </CheckboxGroup>
          </FormItem>
        </div>
        <div class="input-group clearfix">
          <FormItem label="Tag" prop="tag" class="item">
            <Input v-model="filterForm.tag" placeholder="Enter something..." style="width: 200px"></Input>
          </FormItem>
          <FormItem label="UPC" prop="upc" class="item">
            <Input v-model="filterForm.upc" placeholder="Enter something..." style="width: 200px"></Input>
          </FormItem>
          <FormItem label="From PO" prop="poNumber" class="item">
            <Input v-model="filterForm.poNumber" placeholder="Enter something..." style="width: 200px"></Input>
          </FormItem>
        </div>
        <div class="input-group clearfix">
          <FormItem label="Create Date" class="item">
            <DatePicker type="datetimerange" @on-change="setCreateDate" format="yyyy-MM-dd"
                        placeholder="From: YYYY-MM-DD   To: YYYY-MM-DD"
                        style="width: 300px"
                        :options="setDisabledDate"
                        clearable
                        transfer
                        :editable='datePickerEditable'
                        :value="filterForm.createDate"
            ></DatePicker>
          </FormItem>
          <FormItem label="Confirmed Date" class="item">
            <DatePicker type="datetimerange" @on-change="setConfirmedDate" format="yyyy-MM-dd"
                        placeholder="From: YYYY-MM-DD   To: YYYY-MM-DD" style="width: 300px"
                        transfer
                        :options="setDisabledDate"
                        clearable
                        :editable='datePickerEditable'
                        :value="filterForm.confirmedDate"
            ></DatePicker>
          </FormItem>
        </div>
        <FormItem>
          <Button type="primary" size="large" @click="formSubmit">Go</Button>
          <Button size="large" style="margin-left: 8px" @click="formReset">Reset</Button>
        </FormItem>
      </Form>
    </section>
    <section class="pagination-wrapper clearfix">
      <div class="cnt-left">
        <Page :total="totalItems" :current="filterForm.page" :page-size="filterForm.perPage"
              :page-size-opts="pageSizeOpts" show-sizer
              @on-change="changePage" @on-page-size-change="changePageSize"></Page>
      </div>
      <div class="cnt-right">
        <p class="items-remain" v-show="confirmedData">Results <span>{{totalItems}}</span></p>
      </div>

      <section class="table-size">
        <div class="table-size-cnt">
          Table size
          <Radio-group v-model="tableSize" type="button">
            <Radio label="large">large</Radio>
            <Radio label="default">medium(default)</Radio>
            <Radio label="small">small</Radio>
          </Radio-group>
        </div>
      </section>
    </section>
    <section class="data-list">
      <Table border no-data-text :size="tableSize" :loading="tableDataloading" ref="waitToConfirm"
             :columns="tableColumns" :data="confirmedData" v-if="!notableDataTip.active"></Table>
      <div v-show="notableDataTip.active">
        <Alert type="warning" class="no-data-alter">
          A warning prompt
          <template slot="desc">
            {{notableDataTip.msg}}
          </template>
        </Alert>
      </div>
    </section>
    <section class="pagination-wrapper clearfix">
      <div class="cnt-left">
        <Page :total="totalItems" :current="filterForm.page" :page-size="filterForm.perPage"
              :page-size-opts="pageSizeOpts" show-sizer
              @on-change="changePage" @on-page-size-change="changePageSize"></Page>
      </div>
      <div class="cnt-right">
        <p class="items-remain" v-show="confirmedData">Results <span>{{totalItems}}</span></p>
      </div>
    </section>
  </div>
</template>

<script>
  import {modalInstance} from '@/components/mixin';
  import {getSupplierPO} from '@/api/index';
  import topMenu from '../../../../components/topMenu';
  import {mapState, mapActions} from 'vuex';

  export default {
    name: 'Confirmed',
    mixins: [modalInstance],
    components: {
      topMenu
    },
    computed: {
      ...mapState({
        userInfo(state) {
          return state.userInfo;
        },
        filter(state) {
          return state.filter;
        }
      }),
    },
    data() {
      return {
        datePickerEditable: false,
        tableDataloading: true,
        notableDataTip: {
          active: false,
          msg: null
        },
        tableSize: 'default',
        confirmedData: [],
        filterForm: {
          status: [],
          tag: '',
          upc: '',
          poNumber: '',
          createDate: '',
          confirmedDate: '',
          page: 1,
          perPage: 10
        },
        totalItems: 0,
        pageSizeOpts: [10, 20, 30, 40, 50],
        tableColumns: [
          {
            title: 'Tag',
            align: 'center',
            fixed: 'left',
            width: 90,
            key: 'tag'
          },
          {
            title: 'UPC',
            align: 'center',
            fixed: 'left',
            minWidth: 125,
            key: 'upc'
          },
          {
            title: 'From PO',
            align: 'center',
            minWidth: 150,
            key: 'fromPO'
          },
          {
            title: 'Create Date',
            align: 'center',
            minWidth: 150,
            key: 'createDate'
          },
          {
            title: 'Category',
            align: 'center',
            width: 160,
            key: 'category'
          },
          {
            title: 'Brand',
            align: 'center',
            minWidth: 130,
            key: 'brand'
          },
          {
            title: 'Product Code',
            width: 85,
            align: 'center',
            key: 'productCode'
          },
          {
            title: 'Product Name',
            minWidth: 185,
            key: 'productName'
          },
          {
            title: 'Colour Code',
            width: 80,
            align: 'center',
            key: 'colourCode'
          },
          {
            title: 'Size',
            width: 65,
            align: 'center',
            key: 'size'
          },
          {
            title: 'Order QTY',
            width: 70,
            align: 'center',
            key: 'orderQty'
          },
          {
            title: 'Exp. QTY',
            width: 70,
            align: 'center',
            key: 'expQty'
          },
          {
            title: 'Confirmed Date',
            align: 'center',
            minWidth: 150,
            key: 'confirmedDate'
          },
          {
            title: 'Status',
            align: 'center',
            width: 170,
            key: 'status',
            fixed: 'right',
            render: (h, params) => {
              return h('span',
                this.filterStatus.map((item, index) => {
                  if (item.status_key == params.row.status) {
                    return this.filterStatus[index].status_value;
                  }
                })
              );
            }
          }
        ],
        filterStatus: [],
        setDisabledDate: {
          disabledDate(date) {
            return date > new Date();
          }
        }
      }
    },
    created() {
      if (this.$route.query) {
        this.setFilter(this.$route.query);
      }
      this.initTableData();
    },
    methods: {
      ...mapActions(['setFilter']),
      initTableData: function () {

        if (this.filter) {
          for (let item in this.filter) {
            if (typeof this.filterForm[item] !== 'undefined') {
              this.filterForm[item] = this.filter[item];
            } else if (item.indexOf('createDate') >= 0) {
              this.filterForm['createDate'] = [this.filter.createDateFrom, this.filter.createDateTo];
            } else if (item.indexOf('confirmedDate') >= 0) {
              this.filterForm['confirmedDate'] = [this.filter.confirmedDateFrom, this.filter.confirmedDateTo];
            }
          }
        }

        let filter = this.handleFilterForm();

        this.tableDataloading = true;
        filter.token = this.userInfo.token;
        this.getTableData(filter);
      },
      getTableData: function (filter) {
        getSupplierPO('confirmed', filter).then(res => {
          this.$Loading.start();
          let resObj = res.data;
          this.notableDataTip = {
            active: false,
            msg: ''
          };
          delete filter.token;
          this.$router.push({name: this.$route.name, query: filter});
          this.setFilter(filter);
          this.$Spin.hide();
          if (resObj.status) {
            this.$Loading.finish();
            this.tableDataloading = false;
            if (resObj.message.poItemList) {
              this.confirmedData = resObj.message.poItemList;
            } else {
              this.confirmedData = [];
              this.notableDataTip = {
                active: true,
                msg: 'None confirmed!'
              };
            }
            this.filterForm.page = parseInt(resObj.message.currentPage);
            this.filterForm.perPage = parseInt(resObj.message.perPage);
            this.totalItems = parseInt(resObj.message.totalNumber);
            resObj.message.poStatusList ? this.filterStatus = resObj.message.poStatusList : null;
            this.$Message.success('Get Confirmed Success!');
          } else {
            this.$Loading.error();
            this.notableDataTip = {
              active: true,
              msg: resObj.message
            };
            this.$Message.error('Get Confirmed Error!Please try again!');
          }
        }).catch((err) => {
          console.log(err);
          this.$Loading.error();
          this.notableDataTip.active = true;
          this.notableDataTip = {
            active: true,
            msg: 'Failure! Please contact with MG IT team!'
          }
        });
      },
      handleFilterForm() {
        let filter = {};
        for (let item in this.filterForm) {
          if (this.filterForm[item] && item.indexOf('Date') < 0) {
            filter[item] = this.filterForm[item];
          } else if (this.filterForm[item] && item.indexOf('Date') >= 0) {
            if (this.filterForm[item][0] && this.filterForm[item][1]) {
              filter[item + 'From'] = this.filterForm[item][0];
              filter[item + 'To'] = this.filterForm[item][1];
            }
          }
        }
        if (filter.status.length == 0) {
          delete filter.status;
        }
        return filter;
      },
      formSubmit: function () {

        let filter = this.handleFilterForm();

        filter.page = 1;
        filter.token = this.userInfo.token;
        this.$Spin.show();
        this.getTableData(filter);
      },
      formReset: function () {
        this.filterForm = {
          status: [],
          tag: '',
          upc: '',
          poNumber: '',
          createDate: '',
          confirmedDate: '',
          page: this.filterForm.page,
          perPage: this.filterForm.perPage
        };
      },
      changePage(page) {
        this.filterForm.page = page;
        let filter = this.handleFilterForm();
        filter.token = this.userInfo.token;
        this.getTableData(filter);
      },
      changePageSize(pageSize) {
        this.filterForm.perPage = pageSize;
        let filter = this.handleFilterForm();
        filter.token = this.userInfo.token;
        this.getTableData(filter);
      },
      setCreateDate(e) {
        this.filterForm['createDate'] = e;
      },
      setConfirmedDate(e) {
        this.filterForm['confirmedDate'] = e;
      }
    },
    watch: {}
  }
</script>

<style lang="scss" scoped>
  @import '../../../../assets/sass/mixin';

  .input-group {
    .item {
      float: left;
      margin-right: 5%;
      margin-bottom: 15px;
    }
    .item-status {
      margin-bottom: 15px;
    }
  }

  .table-size-cnt {
    padding-left: 50px;
  }

  .data-operates-top {
    padding-bottom: 0;
  }
</style>
