<template>
  <div class="edit-invoice-wrapper">
    <section class="section-title">
      <h3>Edit Invoice</h3>
    </section>
    <section class="data-list">
      <Table :columns="invoiceColumns" border class="customer-order-list" stripe v-show="!notableDataTip"
             :data="invoiceData.shipmentInfo"></Table>
    </section>
    <section class="section-form">
      <Form :label-width="150" label-position="left" class="invoice-form" :rules="formValidateRule" ref="invoiceForm" :model="invoiceData">
        <FormItem label="Invoice No." prop="invoiceNo">
          <Input placeholder="Enter something..." style="max-width: 300px;" v-model="invoiceData.invoiceNo"></Input>
        </FormItem>
        <FormItem label="invoiceDate" prop="invoiceDate">
          <DatePicker type="date" placeholder="Select date" style="width: 300px;" :value="invoiceData.invoiceDate" @on-change="setInvocieDate" format="yyyy-MM-dd"></DatePicker>
        </FormItem>
        <FormItem label="Invoice Attachment" prop="invoiceAttachment">
          <p>（Up to 5 files,support PDF, Excel formats.）</p>
          <section class="invoice-wrapper">
            <div class="invoice-attachment" v-for="(item, index) in invoiceData.invoiceAttachment.fileList" :key="index">
              <!--<template v-if="item.status === 'finished'">-->
              <template v-if="true">
                <div class="invoice-attachment-file">
                  <!--<img :src="item.default_img">-->
                  <img src="@/assets/images/pdf-default-icon.png" alt="" v-if="item.fileType == 'pdf'">
                  <img src="@/assets/images/excel-default-icon.jpg" alt="" v-if="item.fileType == 'xlsx' || item.fileType == 'xls'">
                  <p class="invoice-attachment-icons">
                    <a :download="item.fileName + '.' + item.fileType" @click="handleDownload(item, $event)">
                      <Icon type="ios-cloud-download-outline" class="icon"/>
                    </a>
                    <a @click="handleRemove(item, $event)">
                      <Icon type="ios-trash-outline" class="icon"/>
                    </a>
                  </p>
                </div>
                <p class="invoice-attachment-name">{{item.fileName}}.{{item.fileType}}</p>
              </template>
              <template v-else>
                <Progress v-if="item.showProgress" :percent="item.percentage" hide-info></Progress>
              </template>
            </div>
            <Upload
              ref="upload"
              :show-upload-list="false"
              :on-success="handleSuccess"
              :format="['pdf','xlsx']"
              :before-upload="handleBeforeUpload"
              multiple
              type="drag"
              :data="uploadData"
              action="/portal-api/upload-invoice-attachment"
              :accept="'application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel'"
              style="display: inline-block;width:58px;">
              <div style="width: auto;height:58px;line-height: 58px;">
                <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
              </div>
            </Upload>
          </section>
        </FormItem>
      </Form>
    </section>
    <section class="btn-group">
      <Button type="primary" @click="$router.push({name: 'invoiceIndex', params: {type: $route.params.type}})">Back</Button>
      <Button type="primary" @click="handleSubmit()">Confirm</Button>
    </section>
  </div>
</template>

<script>
  import {getInvoiceItem, removeInvoiceAttachment, editInvoice} from "@/api";
  import {mapState} from 'vuex';
  import qs from 'qs';


  export default {
    name: "edit-invoice",
    data() {
      const validateInvoice = (rule, value, callback) => {
        console.log(value);
        if (value.fileList.length == 0) {
          callback(new Error('The attachment cannot be empty'));
        } else {
          callback();
        }
      };
      return {
        notableDataTip: false,
        invoiceColumns: [
          {
            title: 'Shipment #',
            align: 'center',
            minWidth: 180,
            fixed: 'left',
            key: 'shipmentNumber'
          },
          {
            title: 'Tag',
            align: 'center',
            minWidth: 100,
            key: 'tag',
            fixed: 'left'
          },
          {
            title: 'UPC',
            align: 'center',
            minWidth: 150,
            key: 'upc',
            fixed: 'left'
          },
          {
            title: 'From PO',
            align: 'center',
            width: 150,
            key: 'fromPO'
          },
          {
            title: 'Category',
            align: 'center',
            width: 160,
            key: 'category'
          },
          {
            title: 'Brand',
            minWidth: 100,
            align: 'center',
            key: 'brand'
          },
          {
            title: 'Product Code',
            minWidth: 145,
            align: 'center',
            key: 'productCode'
          },
          {
            title: 'Product Name',
            minWidth: 180,
            align: 'center',
            key: 'productName'
          },
          {
            title: 'Color Code',
            width: 145,
            align: 'center',
            key: 'colourCode'
          },
          {
            title: 'Size',
            minWidth: 70,
            align: 'left',
            key: 'size'
          },
          {
            title: 'Order QTY',
            minWidth: 70,
            align: 'left',
            key: 'orderQty'
          },
          {
            title: 'EXP.QTY',
            minWidth: 70,
            align: 'left',
            key: 'expQty'
          },
          {
            title: 'Unit Price',
            minWidth: 100,
            align: 'left',
            key: 'unitPrice',
            render: (h, params) => {
              return h('span', params.row.unitPrice ? this.userInfo.currencyUnit + params.row.unitPrice : null);
            }
          },
          {
            title: 'Total Price',
            minWidth: 145,
            align: 'left',
            key: 'totalPrice',
            render: (h, params) => {
              return h('span', params.row.totalPrice ? this.userInfo.currencyUnit + params.row.totalPrice : null);
            }
          },
          {
            title: 'Tracking No',
            minWidth: 145,
            align: 'left',
            key: 'trackingNumber'
          },
          {
            title: 'Shipping Fee',
            minWidth: 145,
            align: 'left',
            key: 'shippingFee',
            render: (h, params) => {
              return h('span', params.row.shippingFee ? this.userInfo.currencyUnit + params.row.shippingFee : null);
            }
          }
        ],
        invoiceData: {
          invoiceNo: null,
          invoiceDate: '',
          invoiceAttachment: [],
          invoiceList: []
        },
        uploadList: [],
        formValidateRule: {
          invoiceNo: { required: true, trigger: 'blur' },
          invoiceDate: { required: true, trigger: 'blur', type: "string"},
          invoiceAttachment: { required: true, trigger: 'change', validator: validateInvoice }
        },
        uploadData: {}
      }
    },
    created() {
      this.initData();
    },
    computed: {
      ...mapState({
        userInfo(state) {
          return state.userInfo;
        }
      })
    },
    methods: {
      initData() {
        getInvoiceItem(this.userInfo.token, this.$route.query.invoiceId).then(res => {
          res = res.data;
          if (res.status) {
            this.invoiceData = res.message;
          }
        });
      },
      handleSuccess(res, file, fileList) {
        console.log(res.message.fileList);
        this.invoiceData.invoiceAttachment.fileList.push(res.message.fileList);
        this.$refs.invoiceForm.validateField('invoiceAttachment');
      },
      handleBeforeUpload() {
        const check = this.invoiceData.invoiceAttachment.fileList.length < 5;
        if (!check) {
          this.modalInstance('warning', 'Warning', 'Up to five files can be uploaded.');
          return false;
        } else {
          if (this.invoiceData.invoiceNo == '' || this.invoiceData.invoiceDate == '') {
            this.modalInstance('warning', 'Warning', 'Please Input Invoice No. and Invoice Date!');
            return false;
          } else {
            this.uploadData.token = this.userInfo.token;
            this.uploadData.invoiceNo = this.invoiceData.invoiceNo;
            this.uploadData.invoiceDate = this.invoiceData.invoiceDate;
            this.uploadData.invoiceId = this.$route.query.invoiceId;
            qs.stringify(this.uploadData);
            return true;
          }
        }
      },
      handleSubmit() {
        this.$refs['invoiceForm'].validate((valid) => {
          if (valid) {
            this.$Spin.show();
            editInvoice(this.userInfo.token, this.$route.query.invoiceId, this.invoiceData.invoiceNo, this.invoiceData.invoiceDate).then(res => {
              this.$Spin.hide();
              if (res.data.status) {
                this.$router.push({name: 'invoiceIndex', params: {type: this.$route.params.type}});
                this.$Message.success('Edit successful!');
              } else {
                this.$Message.error(res.data.message);
              }
            });
          }
        });
      },
      handleDownload (file, event) {
        let link = event.currentTarget;
        link.href = '/portal-api/download-invoice-attachment/token/' + this.userInfo.token + '/fileName/' + file.fileName + '.' + file.fileType + '/folderName/' + this.invoiceData.invoiceAttachment.folderName;
        window.URL.revokeObjectURL(link.href);
      },
      handleRemove(file) {
        removeInvoiceAttachment(this.userInfo.token, file.fileName + '.' + file.fileType, this.invoiceData.invoiceAttachment.folderName).then(res => {
          if (res.data.status) {
            this.invoiceData.invoiceAttachment.fileList.forEach((item, index) => {
              if (item.fileName == file.fileName) {
                this.invoiceData.invoiceAttachment.fileList.splice(index, 1);
              }
            });
            this.$refs.invoiceForm.validateField('invoiceAttachment');
          }
        }).catch(err => {
          console.log(err);
        })
      },
      setInvocieDate (date) {
        this.invoiceData.invoiceDate = date;
      }
    }
  }
</script>

<style scoped lang="scss">
  @import '../../../../../../assets/sass/mixin.scss';
  .section-form {
    margin-top: 30px;
    .invoice-form {
      text-align: left;
    }
  }

  .confirm-invoice {
    width: 200px;
    height: 40px;
    font-weight: bold;
    margin: 30px 0;
  }

  .invoice-wrapper {
    @include fj(flex-start);
    margin-bottom: 15px;
  }
  .invoice-attachment {
    width: 80px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
  }
  .invoice-attachment-file {
    @include fj;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    img {
      margin: 0 auto;
    }
    .invoice-attachment-icons {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0;
      color: #fff;
      left: 0;
      top: 0;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.6);
      .icon {
        margin: 0 auto;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
      }
    }
    &:hover {
      .invoice-attachment-icons {
        @include fj;
        justify-content: space-around;
      }
    }
  }
  .invoice-attachment-name {
    overflow: hidden;
    width: 100%;
    padding: 0 !important;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    font-size: 12px;
    text-align: center;
  }
  .upload-wrapper {
    margin-top: 10px;
  }

  .btn-group {
    margin-top: 30px;

    button {
      width: 200px;
      height: 40px;
      font-weight: bold;
    }

    button:first-child {
      margin-right: 20px;
      background: rgba(102, 102, 102, 1);
      border: none;
      color: #fff;
    }
  }
</style>
