<template>
  <div class="view-invoice-list-wrapper">
    <section class="section-title">
      <h3>View Invoice</h3>
    </section>
    <section class="filter-list">
      <Form :label-width="100" label-position="left" inline :model="filterForm">
        <FormItem label="Invoice No.:" class="item" prop="invoiceNo">
          <Input placeholder="Enter Invoice No." style="width: 300px" v-model="filterForm.invoiceNo"></Input>
        </FormItem>
        <FormItem label="Invoice Date:" class="item" prop="invoiceDate">
          <DatePicker type="datetimerange" format="yyyy-MM-dd"
                      placeholder="From: YYYY-MM-DD   To: YYYY-MM-DD" style="width: 300px" transfer
                      :value="filterForm.invoiceDate" @on-change="setInvoiceDate"></DatePicker>
        </FormItem>
      </Form>
      <div class="filter-btn-group">
        <Button type="primary" @click="formSubmit">Go</Button>
        <Button type="primary" @click="formReset">Reset</Button>
      </div>
    </section>
    <section class="pagination-wrapper clearfix">
      <div class="cnt-left">
        <Page :total="totalItems" :current="filterForm.page" :page-size="filterForm.perPage"
              :page-size-opts="pageSizeOpts" show-sizer
              @on-change="changePage" @on-page-size-change="changePageSize"></Page>
      </div>
      <div class="cnt-right">
        <p class="items-remain" v-show="invoiceData">Results <span>{{totalItems}}</span></p>
      </div>

      <section class="table-size">
        <div class="table-size-cnt">
          Table size
          <Radio-group v-model="tableSize" type="button">
            <Radio label="large">large</Radio>
            <Radio label="default">medium(default)</Radio>
            <Radio label="small">small</Radio>
          </Radio-group>
        </div>
      </section>
    </section>
    <section class="data-list">
      <Table border no-data-text :size="tableSize" :loading="tableDataloading" ref="waitToConfirm"
             :columns="invoiceTableColumns" :data="invoiceData" v-if="!notableDataTip.active"></Table>
      <div v-else>
        <Alert type="warning" class="no-data-alter">
          A warning prompt
          <template slot="desc">
            {{notableDataTip.msg}}
          </template>
        </Alert>
      </div>
    </section>
    <section class="pagination-wrapper clearfix">
      <div class="cnt-left">
        <Page :total="totalItems" :current="filterForm.page" :page-size="filterForm.perPage"
              :page-size-opts="pageSizeOpts" show-sizer
              @on-change="changePage" @on-page-size-change="changePageSize"></Page>
      </div>
      <div class="cnt-right">
        <p class="items-remain" v-show="invoiceData">Results <span>{{totalItems}}</span></p>
      </div>
    </section>
  </div>
</template>

<script>
  import {getSupplierPO} from '@/api/index';
  import {mapState, mapActions} from 'vuex';
  import {modalInstance} from '@/components/mixin';

  export default {
    name: "view-invoice",
    data() {
      return {
        invoiceData: [],
        notableDataTip: {
          active: false,
          msg: ''
        },
        tableSize: 'default',
        totalItems: 0,
        pageSizeOpts: [10, 20, 30, 40, 50],
        tableDataloading: true,
        invoiceTableColumns: [
          {
            type: 'index',
            width: 60,
            align: 'center'
          },
          {
            title: 'Invoice No.',
            minWidth: 145,
            align: 'left',
            key: 'invoiceNo'
          },
          {
            title: 'Invoice Date',
            minWidth: 145,
            align: 'left',
            key: 'invoiceDate'
          },
          {
            title: 'Creator',
            minWidth: 90,
            align: 'left',
            key: 'creator'
          },
          {
            title: 'Create Date',
            minWidth: 120,
            align: 'left',
            key: 'createDate'
          },
          {
            title: 'Update Date',
            minWidth: 145,
            align: 'left',
            key: 'updateDate'
          },
          {
            title: 'Action',
            key: 'action',
            width: 160,
            align: 'center',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'default'
                  },
                  style: {
                    marginRight: '5px',
                  },
                  on: {
                    click: () => {
                      this.editInvoice(params.index)
                    }
                  }
                }, 'Edit'),
                h('Button', {
                  props: {
                    type: 'default'
                  },
                  on: {
                    click: () => {
                      this.viewInvoice(params.index)
                    }
                  }
                }, 'View')
              ]);
            }
          }
        ],
        filterForm: {
          invoiceNo: null,
          invoiceDate: null,
          page: 1,
          perPage: 10
        }
      }
    },
    created() {
      if (this.$route.query) {
        this.setFilter(this.$route.query);
      }
      this.initData();
    },
    computed: {
      ...mapState({
        userInfo(state) {
          return state.userInfo;
        },
        filter(state) {
          return state.filter;
        }
      })
    },
    methods: {
      ...mapActions(['setFilter']),
      initData() {
        if (this.filter) {
          for (let item in this.filter) {
            if (typeof this.filterForm[item] !== 'undefined') {
              this.filterForm[item] = this.filter[item];
            } else if (item.indexOf('invoiceDate') >= 0) {
              this.filterForm['invoiceDate'] = [this.filter.invoiceDateFrom, this.filter.invoiceDateEnd];
            }
          }
        }

        let filter = this.handleFilterForm();

        this.tableDataloading = true;
        filter.token = this.userInfo.token;
        this.getTableData(filter);
      },
      getTableData(filter) {
        getSupplierPO('invoice', filter).then(res => {
          this.$Spin.hide();
          this.tableDataloading = false;
          res = res.data;
          delete filter.token;
          this.$router.push({name: this.$route.name, query: filter, params: this.$route.params});
          this.setFilter(filter);

          if (res.status) {
            this.notableDataTip.active = false;
            this.invoiceData = res.message.invoiceInfo;
            this.filterForm.page = parseInt(res.message.currentPage);
            this.filterForm.perPage = parseInt(res.message.perPage);
            this.totalItems = parseInt(res.message.total);
          } else {
            this.notableDataTip = {
              active: true,
              msg: res.message
            };
          }
        });
      },
      handleFilterForm() {
        let filter = {};
        for (let item in this.filterForm) {
          if (this.filterForm[item] && item.indexOf('Date') < 0) {
            filter[item] = this.filterForm[item];
          } else if (this.filterForm[item] && item.indexOf('Date') >= 0) {
            if (this.filterForm[item][0] && this.filterForm[item][1]) {
              filter[item + 'From'] = this.filterForm[item][0];
              filter[item + 'End'] = this.filterForm[item][1];
            }
          }
        }
        return filter;
      },
      formSubmit: function () {
        let filter = this.handleFilterForm();

        filter.page = 1;
        filter.token = this.userInfo.token;
        this.$Spin.show();
        this.getTableData(filter);
      },
      formReset: function () {
        this.filterForm = {
          invoiceNo: null,
          invoiceDate: null,
          page: 1,
          perPage: 10
        };
      },
      changePage(page) {
        this.filterForm.page = page;
        let filter = this.handleFilterForm();
        filter.token = this.userInfo.token;
        this.getTableData(filter);
      },
      changePageSize(pageSize) {
        this.filterForm.perPage = pageSize;
        let filter = this.handleFilterForm();
        filter.token = this.userInfo.token;
        this.getTableData(filter);
      },
      changeShippedType(value) {
        this.$router.push({name: this.$route.name, params: {type: value.replace(/ /g, '-')}});
      },
      editInvoice(index) {
        this.$router.push({
          name: 'Edit Invoice',
          query: {invoiceId: encodeURI(this.invoiceData[index].invoiceId)},
          params: {type: this.$route.params.type}
        });
      },
      viewInvoice(index) {
        this.$router.push({
          name: 'View Invoice Detail',
          params: {type: this.$route.params.type},
          query: {invoiceId: encodeURI(this.invoiceData[index].invoiceId)}
        })
      },
      setInvoiceDate(dateArray) {
        this.filterForm.invoiceDate = dateArray;
      }
    }
  }
</script>

<style scoped lang="scss">
  .filter-list {
    text-align: left;
    display: flex;
    form {
      .item:first-child {
        margin-right: 60px;
      }
    }
    .filter-btn-group {
      margin-left: 60px;
      button {
        font-weight: bold;
        margin-left: 20px;
      }
    }
  }
</style>
