<template>
  <div class="edit-invoice-wrapper">
    <section class="section-title">
      <h3>Edit Invoice</h3>
    </section>
    <section class="data-list">
      <Table :columns="invoiceColumns" border class="customer-order-list" stripe v-if="!notableDataTip.active"
             :data="invoiceData.invoiceList" :loading="tableDataloading"></Table>
      <div v-else>
        <Alert type="warning" class="no-data-alter">
          A warning prompt
          <template slot="desc">
            {{notableDataTip.msg}}
          </template>
        </Alert>
      </div>
    </section>
    <section class="section-details">
      <row><p>Invoice No.:&nbsp;</p>{{invoiceData.invoiceNo}}</row>
      <row><p>Invoice Date:&nbsp;</p>{{invoiceData.invoiceDate}}</row>
      <row>
        <p>Invoice Attachment:</p>
        <section class="invoice-wrapper">
          <div class="invoice-attachment" v-for="(item, index) in invoiceData.invoiceAttachment.fileList" :key="index">
            <div class="invoice-attachment-file">
              <!--<img :src="item.default_img">-->
              <img src="@/assets/images/pdf-default-icon.png" alt="" v-if="item.fileType == 'pdf'">
              <img src="@/assets/images/excel-default-icon.jpg" alt="" v-if="item.fileType == 'xls' || item.fileType == 'xlsx'">
              <p class="invoice-attachment-icons">
                <a :download="item.fileName + '.' + item.fileType" @click="handleDownload(item, $event)">
                  <Icon type="ios-cloud-download-outline" class="icon"/>
                </a>
              </p>
            </div>
            <p class="invoice-attachment-name">{{item.fileName}}</p>
          </div>
        </section>
      </row>
    </section>
  </div>
</template>

<script>
  import {getInvoiceItem} from "@/api";
  import {mapState} from 'vuex';


  export default {
    name: "view-invoice-detail",
    data() {
      return {
        tableDataloading: false,
        notableDataTip: {
          active: false,
          msg: ''
        },
        invoiceColumns: [
          {
            title: 'Shipment #',
            align: 'center',
            minWidth: 180,
            fixed: 'left',
            key: 'shipmentNumber'
          },
          {
            title: 'Tag',
            align: 'center',
            minWidth: 100,
            key: 'tag',
            fixed: 'left'
          },
          {
            title: 'UPC',
            align: 'center',
            minWidth: 150,
            key: 'upc',
            fixed: 'left'
          },
          {
            title: 'From PO',
            align: 'center',
            width: 150,
            key: 'fromPO'
          },
          {
            title: 'Category',
            align: 'center',
            width: 160,
            key: 'category'
          },
          {
            title: 'Brand',
            minWidth: 100,
            align: 'center',
            key: 'brand'
          },
          {
            title: 'Product Code',
            minWidth: 145,
            align: 'center',
            key: 'productCode'
          },
          {
            title: 'Product Name',
            minWidth: 180,
            align: 'center',
            key: 'productName'
          },
          {
            title: 'Color Code',
            width: 145,
            align: 'center',
            key: 'colourCode'
          },
          {
            title: 'Size',
            minWidth: 70,
            align: 'left',
            key: 'size'
          },
          {
            title: 'Order QTY',
            minWidth: 70,
            align: 'left',
            key: 'orderQty'
          },
          {
            title: 'EXP.QTY',
            minWidth: 70,
            align: 'left',
            key: 'expQty'
          },
          {
            title: 'Unit Price',
            minWidth: 100,
            align: 'left',
            key: 'unitPrice'
          },
          {
            title: 'Total Price',
            minWidth: 145,
            align: 'left',
            key: 'totalPrice'
          },
          {
            title: 'Tracking No',
            minWidth: 145,
            align: 'left',
            key: 'trackingNumber'
          },
          {
            title: 'Shipping Fee',
            minWidth: 145,
            align: 'left',
            key: 'shippingFee'
          }
        ],
        invoiceData: {
          invoiceNo: null,
          invoiceDate: null,
          invoiceAttachment: [],
          invoiceList: []
        },
        uploadList: [],
        formValidateRule: {
          invoiceNo: {required: true, trigger: 'blur'},
          invoiceDate: {required: true, trigger: 'blur', type: "date"},
          invoiceAttachment: {required: true, trigger: 'blur', type: "string"}
        }
      }
    },
    created() {
      this.initData();
    },
    computed: {
      ...mapState({
        userInfo(state) {
          return state.userInfo;
        }
      })
    },
    methods: {
      initData() {
        this.tableDataloading = true;
        getInvoiceItem(this.userInfo.token, this.$route.query.invoiceId).then(res => {
          res = res.data;
          this.tableDataloading = false;
          if (res.status) {
            this.notableDataTip.active = false;
            this.invoiceData.invoiceList = res.message.shipmentInfo;
            this.invoiceData.invoiceNo = res.message.invoiceNo;
            this.invoiceData.invoiceDate = res.message.invoiceDate;
            this.invoiceData.invoiceAttachment = res.message.invoiceAttachment;
          } else {
            this.notableDataTip = {
              active: true,
              msg: res.message
            };
          }
        });
      },
      handleRemove(file) {
        const fileList = this.$refs.upload.fileList;
//        this.$refs.upload.fileList.splice(fileList.indexOf(file), 1);
        this.uploadList.splice(fileList.indexOf(file), 1);
      },
      handleSuccess(res, file, fileList) {
        console.log(file)
        console.log('fileList', fileList)
//        this.shipmentForm.invoiceAttachment = res.data.small_image.url;
        this.uploadList = res.data;
        console.log('uploadList', this.uploadList)
      },
      handleFormatError(file) {
        this.modalInstance('error', 'The file format is incorrect', 'File format of ' + file.name + ' is incorrect, please select jpg or png.');
      },
      handleBeforeUpload() {
        this.$refs.upload.clearFiles();
        const check = this.uploadList.length < 5;
        if (!check) {
          this.modalInstance('warning', 'Warning', 'Up to five files can be uploaded.');
        }
        return check;
      },
      handleSubmit() {
        this.$refs['invoiceForm'].validate((valid) => {
          if (valid) {
            this.$router.push({name: 'View Invoice', params: {type: this.$route.params.type}});
          }
        });
      },
      handleDownload(file, event) {
        let link = event.currentTarget;
        link.href = '/portal-api/download-invoice-attachment/token/' + this.userInfo.token + '/fileName/' + file.fileName + '.' + file.fileType + '/folderName/' + this.invoiceData.invoiceAttachment.folderName;
        window.URL.revokeObjectURL(link.href);
      }
    }
  }
</script>

<style scoped lang="scss">
  .section-details {
    margin-bottom: 30px;
    .ivu-row {
      display: flex;
      margin-top: 30px;
      p {
        min-width: 150px;
        text-align: left;
      }
    }
  }

  .invoice-wrapper {
    display: flex;
    margin-bottom: 15px;
  }

  .invoice-attachment {
    width: 90px;
    height: 90px;
    display: flex;
    flex-direction: column;
  }
  .invoice-attachment-file {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    img {
      margin: 0 auto;
    }
    .invoice-attachment-icons {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0;
      color: #fff;
      left: 0;
      top: 0;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.6);
      cursor: pointer;
      box-shadow: 0 1px 1px rgba(0,0,0,.2);
      margin-right: 4px;
      min-width: unset!important;
      .icon {
        margin: 0 auto;
        font-size: 25px;
        font-weight: bold;
      }
    }
    &:hover {
      .invoice-attachment-icons {
        justify-content: center;
        align-items: center;
        display: flex;
      }
    }
  }
  .invoice-attachment-name {
    overflow: hidden;
    width: 100%;
    padding: 0 !important;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    font-size: 12px;
    text-align: center!important;
    min-width: unset!important;
  }
</style>
