<template>
    <Layout :style="{minHeight: '100vh'}">
      <header-nav></header-nav>

      <Layout>
        <Sider collapsible :collapsed-width="78" v-model="isCollapsed">
          <Menu class="menu-wrapper"
                :active-name="cueMenuProps.activeName"
                theme="dark"
                width="auto"
                :class="menuitemClasses"
                :open-names="cueMenuProps.openNames"
                accordion
                @on-select="goToPath">
            <MenuItem name="1" class="menu-item-dashboard">
              <Icon type="ios-analytics"></Icon>
              Dashboard
            </MenuItem>
            <Submenu name="2">
              <template slot="title">
                <Icon type="md-person"></Icon>
                <span>Account</span>
              </template>
              <MenuItem name="2-1">Account set</MenuItem>
            </Submenu>
            <Submenu name="3">
              <template slot="title">
                <Icon type="ios-paper"></Icon>
                <span>Supplier PO</span>
              </template>
              <MenuItem name="3-1">Wait to confirm</MenuItem>
              <MenuItem name="3-2">Confirmed</MenuItem>
              <MenuItem name="3-3">Wait to ship<br>(Warehouse)</MenuItem>
              <MenuItem name="3-4" v-if="dropShippingSupplier">Wait to ship<br>(Customer)</MenuItem>
              <MenuItem name="3-5">Shipped</MenuItem>
              <!--<Submenu name="3-5" class="shipped-menu-item">-->
                <!--<template slot="title">-->
                  <!--<span>Shipped</span>-->
                <!--</template>-->
                <!--<MenuItem name="3-5-1" v-if="dropShippingSupplier">View Warehouse Shipped</MenuItem>-->
              <!--</Submenu>-->
            </Submenu>
          </Menu>
        </Sider>

        <Layout>
          <Content :style="{padding: '0 16px 16px'}">
            <Breadcrumb :style="{margin: '16px 0'}" class="bread-crumb">
              <BreadcrumbItem v-for="(name, index) in pathTitleArray" :key="index" :to="pathLinkArray[index]"><p class="bread-crumb-text">{{name}}</p></BreadcrumbItem>
            </Breadcrumb>
            <Card>
              <transition name="router-slid" mode="out-in">
                <router-view/>
              </transition>
            </Card>
          </Content>
        </Layout>

      </Layout>

    </Layout>
</template>

<script>
  import {mapState, mapMutations} from 'vuex';
  import HeaderNav from '@/components/HeaderNav';
  import { siderMenu } from '@/components/mixin';
  import { getUserInfo, getProductInfo } from '@/api/index';
  export default {
    name: 'Main',
    components: { HeaderNav },
    mixins: [ siderMenu ],
  	data () {
      return {
        isCollapsed: false,
        pathTitleArray: [],
        pathLinkArray: []
      };
    },
    computed: {
      menuitemClasses: function () {
        return [
          'menu-item',
          this.isCollapsed ? 'collapsed-menu' : ''
        ]
      },
      dropShippingSupplier () {
        return this.$store.getters.dropShippingSupplier;
      }
    },
    created () {
      this.routeOperateFunc(this.$route);
      this.cueMenuProps = siderMenu.methods.curMenuSelected(this.$route);
    },
    methods: {
    	routeOperateFunc (route) {
        /**
         * Init menu status
         */
        this.pathTitleArray = [];
        this.pathLinkArray = [];

        route.matched.forEach((routeRoot) => {
          if (routeRoot.name !== 'Main') {
            if (typeof routeRoot.name == "undefined") {
              this.pathTitleArray.push(routeRoot.props.default.name);
              this.pathLinkArray.push(routeRoot.path);
            } else {
              if (routeRoot.name.indexOf('Index') < 0) {
                this.pathTitleArray.push(routeRoot.name);
                this.pathLinkArray.push(routeRoot.path);
              }
            }
          }
        });
        this.pathLinkArray.forEach((_r, index) => {
          if (_r.indexOf(':type') >= 0) {
            this.pathLinkArray[index] = _r.replace(/:type/g, route.params.type);
          }
        });

      },
      goToPath (name) {
    	  siderMenu.methods.goToPath(name);
      }
    },
    watch: {
    	$route: function (path) {
        this.routeOperateFunc(path);
        this.cueMenuProps = siderMenu.methods.curMenuSelected(path);
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
  @import '../../assets/sass/mixin';
  .layout-con{
    height: 100%;
    width: 100%;
  }
  .menu-item span{
    display: inline-block;
    overflow: hidden;
    width: 69px;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: bottom;
    transition: width .2s ease .2s;
  }
  .menu-item i{
    transform: translateX(0px);
    transition: font-size .2s ease, transform .2s ease;
    vertical-align: middle;
    font-size: 16px;
  }
  .menu-item span {
    width: 100px;
    text-align: left;
    white-space: normal;
    vertical-align: middle;
  }
  .collapsed-menu span {
    width: 0px;
    height: 0px;
    transition: all .2s ease;
  }
  .collapsed-menu .ivu-menu-item{
    padding-left: 8px !important;
    text-align: center;
    transition: padding .2s ease;
  }
  .collapsed-menu i {
    transform: translateX(5px);
    transition: font-size .2s ease .2s, transform .2s ease .2s;
    vertical-align: middle;
    font-size: 22px;
  }
  .ivu-menu-item {
    padding-left: 55px !important;
    text-align: left;
    font-weight: bold;
  }
  .bread-crumb {
    text-align: left;
    .bread-crumb-text {
      display: inline-block;
      font-size: 16px;
      &:first-letter {
        text-transform: uppercase;
      }
    }
  }

  .ivu-menu-item.menu-item-dashboard {
    padding: 14px 24px!important;
  }

  .menu-item-dashboard.ivu-menu-item-selected {
    background: #2d8cf0!important;
    color: #fff!important;
  }

</style>
