<template>
  <div class="create-invoice-wrapper">
    <section class="section-title">
      <h3>Create Invoice</h3>
    </section>
    <section class="data-list">
      <Table :columns="invoiceColumns" border class="customer-order-list" stripe v-show="!notableDataTip.active"
             :data="invoiceData.invoiceList"></Table>
      <div v-show="notableDataTip.active">
        <Alert type="warning" class="no-data-alter">
          A warning prompt
          <template slot="desc">
            {{notableDataTip.msg}}
          </template>
        </Alert>
      </div>
    </section>
    <section class="section-form">
      <Form :label-width="150" label-position="left" class="invoice-form" :rules="formValidateRule" ref="invoiceForm"
            :model="invoiceData">
        <FormItem label="Invoice No." prop="invoiceNo">
          <Input placeholder="Enter something..." style="max-width: 300px;" v-model="invoiceData.invoiceNo"></Input>
        </FormItem>
        <FormItem label="invoiceDate" prop="invoiceDate">
          <DatePicker type="date" placeholder="Select date" style="width: 300px;"
                      :value="invoiceData.invoiceDate" @on-change="setInvoiceDate" format="yyyy-MM-dd" :editable="false"></DatePicker>
        </FormItem>
        <FormItem label="Invoice Attachment" prop="uploadList">
          <p>（Up to 5 files,support PDF, Excel formats.）</p>
          <section class="invoice-wrapper">
            <div class="invoice-attachment" v-for="(item, index) in invoiceData.uploadList" :key="index">
              <template>
                <!--<template v-if="true">-->
                <div class="invoice-attachment-file">
                  <!--<img :src="item.fileType">-->
                  <img src="@/assets/images/pdf-default-icon.png" alt="" v-if="item.fileType == 'pdf'">
                  <img src="@/assets/images/excel-default-icon.jpg" alt=""
                       v-if="item.fileType == 'xls' || item.fileType == 'xlsx'">
                  <p class="invoice-attachment-icons">
                    <a :download="item.fileName + '.' + item.fileType" @click="handleDownload(item, $event)">
                      <Icon type="ios-cloud-download-outline" class="icon"/>
                    </a>
                    <a @click="handleRemove(item, $event)">
                      <Icon type="ios-trash-outline" class="icon"/>
                    </a>
                  </p>
                </div>
                <p class="invoice-attachment-name">{{item.fileName}}</p>
              </template>
            </div>
            <Upload
              ref="upload"
              :show-upload-list="false"
              :on-success="handleSuccess"
              :format="['pdf','xlsx']"
              :accept="'application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel'"
              :before-upload="handleBeforeUpload"
              :on-error="handleError"
              :on-exceeded-size="handleExceeded"
              :data="uploadData"
              :max-size="2048"
              type="drag"
              action="/portal-api/upload-invoice-attachment"
              style="display: inline-block;width:58px;"
              v-show="!isUploading">
              <div style="width: auto;height:58px;line-height: 58px;">
                <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
              </div>
            </Upload>
            <Spin class="loading-body" v-show="isUploading">
              <Icon type="ios-loading" size=18 class="demo-spin-icon-load"></Icon>
              <div>Uploading</div>
            </Spin>
          </section>
          <Alert type="error" v-show="uploadMsg.active" style="width: 300px">{{uploadMsg.msg}}</Alert>
        </FormItem>

      </Form>
    </section>
    <section class="btn-group">
      <Button type="primary" @click="$router.push({name: 'ShippedIndex', params: {type: $route.params.type}})">Back</Button>
      <Button type="primary" @click="handleSubmit()">Confirm</Button>
    </section>
  </div>
</template>

<script>
  import {getInvoiceData, removeInvoiceAttachment, createInvoice} from '@/api/index';
  import {mapState, mapActions} from 'vuex';
  import {modalInstance} from '@/components/mixin';
  import qs from 'qs';


  export default {
    name: "create-invoice",
    mixins: [modalInstance],
    data() {
      const validateInvoice = (rule, value, callback) => {
        this.uploadMsg = {
          active: false,
          msg: ''
        };
        console.log(value);
        if (value.length == 0) {
          callback(new Error('The attachment cannot be empty'));
        } else {
          callback();
        }
      };
      return {
        notableDataTip: {
          active: false,
          msg: ''
        },
        isUploading: false,
        invoiceColumns: [
          {
            title: 'Shipment #',
            align: 'center',
            minWidth: 150,
            fixed: 'left',
            key: 'shipmentNumber'
          },
          {
            title: 'Tag',
            align: 'center',
            width: 70,
            key: 'tag',
            fixed: 'left'
          },
          {
            title: 'UPC',
            align: 'center',
            minWidth: 70,
            key: 'upc',
            fixed: 'left'
          },
          {
            title: 'From PO',
            align: 'center',
            width: 130,
            key: 'fromPO'
          },
          {
            title: 'Category',
            align: 'center',
            width: 100,
            key: 'category'
          },
          {
            title: 'Brand',
            minWidth: 100,
            align: 'center',
            key: 'brand'
          },
          {
            title: 'Product Code',
            minWidth: 145,
            align: 'center',
            key: 'productCode'
          },
          {
            title: 'Product Name',
            minWidth: 145,
            align: 'center',
            key: 'productName'
          },
          {
            title: 'Color Code',
            width: 145,
            align: 'center',
            key: 'colourCode'
          },
          {
            title: 'Size',
            minWidth: 70,
            align: 'left',
            key: 'size'
          },
          {
            title: 'Order QTY',
            minWidth: 70,
            align: 'left',
            key: 'orderQty'
          },
          {
            title: 'EXP.QTY',
            minWidth: 70,
            align: 'left',
            key: 'expQty'
          },
          {
            title: 'Unit Price',
            minWidth: 100,
            align: 'left',
            key: 'unitPrice',
            render: (h, params) => {
              return h('span', params.row.unitPrice ? this.userInfo.currencyUnit + params.row.unitPrice : null);
            }
          },
          {
            title: 'Total Price',
            minWidth: 145,
            align: 'left',
            key: 'totalPrice',
            render: (h, params) => {
              return h('span', params.row.totalPrice ? this.userInfo.currencyUnit + params.row.totalPrice : null);
            }
          },
          {
            title: 'Tracking No',
            minWidth: 145,
            align: 'left',
            key: 'trackingNumber'
          },
          {
            title: 'Shipping Fee',
            minWidth: 145,
            align: 'left',
            key: 'shippingFee',
            render: (h, params) => {
              return h('span', params.row.shippingFee ? this.userInfo.currencyUnit + params.row.shippingFee : null);
            }
          }
        ],
        invoiceData: {
          invoiceList: [],
          invoiceNo: '',
          invoiceDate: null,
          uploadList: []
        },
        uploadData: {},
        formValidateRule: {
          invoiceNo: {required: true, message: 'Invoice No. is required'},
          invoiceDate: {required: true, type: "string"},
          uploadList: {required: true, trigger: 'change', validator: validateInvoice }
        },
        uploadMsg: {
          active: false,
          msg: ''
        }
      }
    },
    computed: {
      ...mapState({
        createInvoiceData: function (state) {
          if (!Object.keys(state.createInvoiceData.shipmentIdList).length) {
            this.$store.dispatch('getInvoiceData');
          }
          console.log('enter');
          return state.createInvoiceData;
        },
        userInfo(state) {
          return state.userInfo;
        }
      })
    },
    created() {
      let date = new Date();
      this.invoiceData = {
        invoiceList: [],
        invoiceNo: this.createInvoiceData.invoiceNo,
        invoiceDate: this.createInvoiceData.invoiceDate? this.createInvoiceData.invoiceDate: date.getFullYear() + '-' + (date.getMonth() + 1) +
          '-' + date.getDate(),
        uploadList: this.createInvoiceData.attachment.fileList,
        folderName: this.createInvoiceData.attachment.folderName
      };
      this.initData();
    },
    watch: {
      createInvoiceData () {
        let date = new Date();
        this.invoiceData = {
          invoiceList: this.invoiceData.invoiceList,
          invoiceNo: this.createInvoiceData.invoiceNo,
          invoiceDate: this.createInvoiceData.invoiceDate? this.createInvoiceData.invoiceDate: date.getFullYear() + '-' + (date.getMonth() + 1) +
            '-' + date.getDate(),
          uploadList: this.createInvoiceData.attachment.fileList,
          folderName: this.createInvoiceData.attachment.folderName,
        };
      }
    },
    methods: {
      ...mapActions(['setInvoiceData', 'getInvoiceData']),
      initData() {
        getInvoiceData(this.userInfo.token, this.createInvoiceData.shipmentIdList).then(res => {
          res = res.data;
          if (res.status) {
            this.tableDataloading = false;
            this.invoiceData.invoiceList = res.message;
          } else {
            this.notableDataTip = {
              active: true,
              msg: res.message
            };
          }
        });
      },
      handleRemove(file) {
        removeInvoiceAttachment(this.userInfo.token, file.fileName + '.' + file.fileType, this.createInvoiceData.attachment.folderName).then(res => {
          if (res.data.status) {
            this.invoiceData.uploadList.forEach((item, index) => {
              if (item.fileName == file.fileName) {
                this.invoiceData.uploadList.splice(index, 1);
              }
            });
            let _createInvoiceData = JSON.parse(JSON.stringify(this.createInvoiceData));
            _createInvoiceData.attachment.fileList = this.invoiceData.uploadList;
            this.setInvoiceData(_createInvoiceData);
            this.$refs.invoiceForm.validateField('uploadList');
          }
        }).catch(err => {
          console.log(err);
        })

      },
      handleDownload(file, event) {
        let link = event.currentTarget;
        link.href = '/portal-api/download-invoice-attachment/token/' + this.userInfo.token + '/fileName/' + file.fileName + '.' + file.fileType + '/folderName/' + this.createInvoiceData.attachment.folderName;
        window.URL.revokeObjectURL(link.href);

        // downloadInvoice(this.userInfo.token, file.fileName + '.' + file.fileType, this.shipmentFormData.invoiceAttachment.folderName).then(res => {
        //   if (!res.data.message) {
        //     console.log(res);
        //     // let url = window.URL.createObjectURL(new Blob([res.data], {type: 'application/octet-stream'}));
        //     // let link = document.createElement('a');
        //     // link.style.display = 'none';
        //     // link.href = url;
        //     // link.setAttribute('download', file.fileName + '.' + file.fileType);
        //     // document.body.appendChild(link);
        //     // link.click();
        //     // window.URL.revokeObjectURL(url);
        //     // document.body.removeChild(link);
        //   }
        // });

      },
      handleSuccess(res, file, fileList) {
        this.uploadMsg = {
          active: false,
          msg: ''
        };
        if (res.status == 1) {
          let _createInvoiceData = JSON.parse(JSON.stringify(this.createInvoiceData));
          _createInvoiceData.invoiceNo = this.invoiceData.invoiceNo;
          _createInvoiceData.invoiceDate = this.invoiceData.invoiceDate;


          this.invoiceData.uploadList.push({
            fileName: res.message.fileList.fileName,
            fileType: res.message.fileList.fileType
          });
          _createInvoiceData.attachment.fileList = this.invoiceData.uploadList;
          _createInvoiceData.attachment.folderName = res.message.folderName;

          this.setInvoiceData(_createInvoiceData);
        }
        this.isUploading = false;
        this.$refs.invoiceForm.validateField('uploadList');
      },
      handleExceeded(file) {
        console.log(file);
        this.modalInstance('error', 'The file format is exceeded', 'File size of ' + file.name + ' is exceeded, please check your file.');
        this.isUploading = false;
        return false;
      },
      handleBeforeUpload() {
        const check = this.invoiceData.uploadList.length < 5;
        if (!check) {
          this.modalInstance('warning', 'Warning', 'Up to five files can be uploaded.');
          return false;
        } else {
          if (this.invoiceData.invoiceNo == '' || this.invoiceData.invoiceDate == '') {
            this.modalInstance('warning', 'Warning', 'Please Input Invoice No. and Invoice Date!');
            return false;
          } else {
            this.uploadData.token = this.userInfo.token;
            this.uploadData.invoiceNo = this.invoiceData.invoiceNo;
            this.uploadData.invoiceDate = this.invoiceData.invoiceDate;
            this.invoiceData.folderName ? this.uploadData.invoiceId = this.invoiceData.folderName: null;
            qs.stringify(this.uploadData);
            this.isUploading = true;
            return true;
          }
        }
      },
      handleError(error, file, fileList) {
        this.isUploading = false;
        if (error.status == 401) {
          window.localStorage.removeItem('userInfo');
          this.$router.replace({
            path: '/login',
            query: {redirect: this.$router.currentRoute.fullPath}//登录成功后跳入浏览的当前页面
          });
        } else {
          if (JSON.parse(error.data).message) {
            this.uploadMsg = {
              active: true,
              msg: JSON.parse(error.data).message
            };
          } else {
            this.uploadMsg = {
              active: true,
              msg: 'Upload Error'
            };
          }

        }
      },
      handleSubmit() {
        this.$refs['invoiceForm'].validate((valid) => {
          if (valid) {
            let _createInvoiceData = JSON.parse(JSON.stringify(this.createInvoiceData));
            _createInvoiceData.invoiceDate = this.invoiceData.invoiceDate;
            _createInvoiceData.invoiceNo = this.invoiceData.invoiceNo;
            this.setInvoiceData(_createInvoiceData);
            createInvoice(this.userInfo.token, this.createInvoiceData.shipmentIdList, this.invoiceData.invoiceNo, this.invoiceData.invoiceDate, this.invoiceData.folderName).then(res => {
              res = res.data;
              if (res.status) {
                this.$router.push({name: 'invoiceIndex', params: {type: this.$route.params.type}});
                this.$Message.success('Create invoice successful!');
              } else {
                this.$Message.error(res.message);
              }
            });
          }
        });
      },
      setInvoiceDate (date) {
        this.invoiceData.invoiceDate = date;
      }
    }
  }
</script>

<style scoped lang="scss">
  @import '../../../../../assets/sass/mixin.scss';

  .section-form {
    margin-top: 30px;
    .invoice-form {
      text-align: left;
    }
  }

  .confirm-invoice {
    width: 200px;
    height: 40px;
    font-weight: bold;
    margin: 30px 0;
  }

  .invoice-wrapper {
    @include fj(flex-start);
    min-height: 80px;
  }

  .invoice-attachment {
    width: 80px;
    height: 80px;
    margin-right: 10px;
  }

  .invoice-attachment-file {
    @include fj;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    img {
      margin: 0 auto;
    }
    .invoice-attachment-icons {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0;
      color: #fff;
      left: 0;
      top: 0;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.6);
      .icon {
        margin: 0 auto;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
      }
    }
    &:hover {
      .invoice-attachment-icons {
        @include fj;
        justify-content: space-around;
      }
    }
  }

  .invoice-attachment-name {
    overflow: hidden;
    width: 100%;
    padding: 0 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    font-size: 12px;
    text-align: center;
  }

  .upload-wrapper {
    margin-top: 10px;
  }

  .btn-group {
    margin-top: 30px;

    button {
      width: 200px;
      height: 40px;
      font-weight: bold;
    }

    button:first-child {
      margin-right: 20px;
      background: rgba(102, 102, 102, 1);
      border: none;
      color: #fff;
    }
  }

  .invoice-attachment {
    width: 80px;
    margin-right: 10px;
    .loading-body {
      width: 100%;
      height: 100%;
      min-height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .demo-spin-icon-load {
    animation: ani-demo-spin 1s linear infinite;
  }

  @keyframes ani-demo-spin {
    from {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>
