<template>
  <div class="shipment-wrapper">
    <section class="section-title">
      <h3>Shipment#:&nbsp;{{$route.query.shipment}}</h3>
    </section>
    <section class="section-selector">
      <Form :label-width="130" inline class="selector-form" label-position="right" :rules="formValidateRule"
            :model="editShipmentData" ref="topForm">
        <FormItem label="Fulfillment:" prop="fulfillment">
          <Select placeholder="Select Fulfillment" v-model="editShipmentData.fulfillment">
            <Option v-for="item in fulfillmentList" :value="item.fcode" :key="item.fcode">{{ item.fname }}</Option>
          </Select>
        </FormItem>
        <FormItem label="Supplier Courier:" prop="supplierCourier">
          <Select placeholder="Select Supplier Courier" v-model="editShipmentData.supplierCourier"
                  @on-change="selectSync" label-in-value>
            <Option v-for="(item, index) in supplierCourierList" :value="item" :key="index">{{ item }}</Option>
          </Select>
        </FormItem>
        <FormItem label="Shipping Fee:" prop="shippingFee">
          <Input placeholder="Enter Shipping Fee" v-model="editShipmentData.shippingFee" @on-change="selectSync" name="shippingFee" number>
            <span slot="prepend">{{userInfo.currencyUnit}}</span>
          </Input>
        </FormItem>
        <FormItem label="Dispatch Date:" prop="dispatchDate">
          <DatePicker type="date" placeholder="Select date" :value="editShipmentData.dispatchDate" @on-change="setDispatchDate" format="yyyy-MM-dd"
                      transfer :editable="isDatePickerEditable"></DatePicker>
        </FormItem>
      </Form>
    </section>
    <section class="customer-shipment-section">
      <Card class="customer-shipment-card" dis-hover>
        <p slot="title" class="shipment-address">
          <Icon type="ios-jet"/>
          Delivery Information:
          <span v-if="Object.keys(shipmentData).length">{{shipmentData.deliveryInfo.address2}}, {{shipmentData.deliveryInfo.address1}}, {{shipmentData.deliveryInfo.city}},
          {{shipmentData.deliveryInfo.state}}, {{shipmentData.deliveryInfo.country}}, {{shipmentData.deliveryInfo.postcode}},
          {{shipmentData.deliveryInfo.customerName}}, {{shipmentData.deliveryInfo.Tel}}</span>
        </p>
        <Form inline :label-width="120" label-position="left">
          <FormItem label="Tracking No:">
            <Input placeholder="Enter Tracking No" v-model="editShipmentData.shipmentItemList.trackingNo"></Input>
          </FormItem>
          <FormItem label="Supplier Courier:">
            <p>{{editShipmentData.shipmentItemList.supplierCourier}}</p>
          </FormItem>
          <FormItem label="Shipping fee:">
            {{userInfo.currencyUnit}}
            {{editShipmentData.shippingFee}}
          </FormItem>
        </Form>
        <Table :data="shipmentData.poInfo" :columns="shipmentColumns" border class="customer-order-list"
               stripe></Table>
      </Card>
    </section>
    <section class="shipment-action-btn-group">
      <Button type="primary" @click="$router.push({name: 'ShippedIndex', params: {type: $route.params.type}})">Back</Button>
      <Button type="primary" @click="handleSubmit()">Confirm</Button>
    </section>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import {getCxShipment, editCxShipment} from '../../../../../api/index';

  export default {
    name: 'edit-shipment',
    data() {
      return {
        isDatePickerEditable: false,
        shipAction: 'create',
        tableDataloading: true,
        notableDataTip: false,
        tableSize: 'default',
        confirmBtnDisable: true,
        createShipData: [],
        fulfillmentList: [],
        supplierCourierList: [],
        shipmentData: {},
        shipmentColumns: [
          {
            title: 'Tag',
            key: 'tag',
            fixed: 'left',
            width: 90
          },
          {
            title: 'UPC',
            key: 'upc',
            width: 120,
            fixed: 'left'
          },
          {
            title: 'From PO',
            key: 'fromPO',
            width: 180
          },
          {
            title: 'Brand',
            key: 'brand',
            width: 120
          },
          {
            title: 'Product Code',
            key: 'productCode',
            width: 140
          },
          {
            title: 'Product Name',
            key: 'productName',
            width: 140
          },
          {
            title: 'colour Code',
            key: 'colourCode',
            width: 140
          },
          {
            title: 'Size',
            key: 'size',
            width: 80
          },
          {
            title: 'Order QTY',
            key: 'orderQty',
            width: 100
          },
          {
            title: 'Exp.QTY',
            key: 'expQty',
            width: 100
          },
          {
            title: 'Unit Price',
            key: 'unitPrice',
            width: 100,
            render: (h, params) => {
              return h('span', params.row.unitPrice ? this.userInfo.currencyUnit + params.row.unitPrice : null);
            }
          },
          {
            title: 'Discount',
            key: 'unitPrice',
            width: 100,
            render: (h, params) => {
              return h('span', params.row.discount ? params.row.discount + '%' : null);
            }
          },
          {
            title: 'Special Discount',
            key: 'unitPrice',
            width: 140,
            render: (h, params) => {
              return h('span', params.row.specialDiscount ? params.row.specialDiscount + '%' : null);
            }
          },
          {
            title: 'Net Price',
            key: 'unitPrice',
            width: 100,
            render: (h, params) => {
              return h('span', params.row.netPrice ? this.userInfo.currencyUnit + params.row.netPrice : null);
            }
          },
          {
            title: 'Total Price',
            key: 'totalPrice',
            width: 100,
            render: (h, params) => {
              return h('span', params.row.totalPrice ? this.userInfo.currencyUnit + params.row.totalPrice : null);
            }
          }
        ],
        editShipmentData: {
          fulfillment: null,
          supplierCourier: null,
          shippingFee: null,
          dispatchDate: new Date(),
          shipmentItemList: {
            trackingNo: null,
            supplierCourier: null,
            shippingFee: 0
          }
        },
        formValidateRule: {
          fulfillment: {required: true},
          supplierCourier: {required: true},
          shippingFee: {required: true, type: "number", trigger: 'change'},
          dispatchDate: {required: true, trigger: 'blur', type: "string"},
          trackingNo: {required: true, type: "string"}
        }
      }
    },
    computed: {
      ...mapState({
        userInfo(state) {
          return state.userInfo;
        }
      })
    },
    created() {
      // if (this.importShipmentFormData) {
      //   this.shipmentForm = this.importShipmentFormData;
      // }
      this.initData();
    },
    methods: {
      initData() {
        getCxShipment(this.userInfo.token, this.$route.query.shipmentId).then(res => {
          let response;
          if (res.data) {
            response = res.data;
            this.fulfillmentList = response.message.fulfillmentList;
            this.supplierCourierList = response.message.supplierCourierList;
            this.editShipmentData = {
              fulfillment: response.message.fulfillment,
              supplierCourier: response.message.supplierCourier,
              shippingFee: parseFloat(response.message.shippingFee),
              dispatchDate: response.message.dispatchDate,
              shipmentItemList: {
                trackingNo: response.message.trackingNumber,
                supplierCourier: response.message.supplierCourier,
                shippingFee: parseFloat(response.message.shippingFee)
              }
            };
            this.shipmentData = response.message;
          } else {
          }
        });
      },
      selectSync(event) {
        let prop;
        if (event.target) {
          prop = event.target.name;
        } else {
          prop = 'supplierCourier';
        }
        this.editShipmentData.shipmentItemList[prop] = this.editShipmentData[prop];
      },
      handleSubmit() {
        let result = true;
        this.$refs['topForm'].validate((valid) => {
          if (this.editShipmentData.shipmentItemList.trackingNo) {
            result = true;
          } else {
            result = false;
          }
          if (valid && result) {
            this.$Spin.show();
            editCxShipment(this.userInfo.token, this.$route.query.shipmentId, this.editShipmentData.fulfillment, this.editShipmentData.supplierCourier, this.editShipmentData.shippingFee, this.editShipmentData.dispatchDate, this.editShipmentData.shipmentItemList.trackingNo).then((res) => {
              this.$Spin.hide();
              if (res.data.status) {
                this.$router.push({name: 'ShippedIndex', params: this.$route.params});
                this.$Message.success('Success!');
              } else {
                this.$Message.error(res.data.message);
              }
            })

          } else {
            this.$Message.error('Fail!');
          }
        });
      },
      setDispatchDate (date) {
        this.editShipmentData.dispatchDate = date;
      }
    }
  }
</script>

<style lang="scss" scoped>
  .shipment-wrapper {
    margin-bottom: 32px;
  }

  .selector-form {
    display: flex;
    justify-content: space-around;
    text-align: left;
    & > div {
      flex: 0 0 20%;
    }
  }

  .customer-shipment-section {

    .customer-shipment-card {
      text-align: left;

      .ivu-card-head {
        background: #3f96f1 !important;
      }

      .ivu-table th {
        color: #eee !important;
      }

      form {
        display: flex;
        justify-content: space-between;
        & > div {
          width: 25%;
        }
      }

      .shipment-address {
        line-height: 1;
        height: auto;
        color: #fff;
      }

      .customer-order-list {
        margin-top: 6px;
      }
    }
  }

  .shipment-action-btn-group {
    margin-top: 30px;

    button {
      width: 200px;
      height: 40px;
      font-weight: bold;
    }

    button:first-child {
      margin-right: 20px;
      background: rgba(102, 102, 102, 1);
      border: none;
      color: #fff;
    }
  }
</style>
