<template>
  <div class="shipment-wrapper">
    <section class="section-title">
      <h3>Shipment#:&nbsp;{{$route.query.shipment}}</h3>
    </section>
    <section class="section-selector">
      <p>Fulfillment:&nbsp;{{editShipmentData.fulfillment}}</p>
      <p>Supplier Courier:&nbsp;{{editShipmentData.supplierCourier}}</p>
      <p>Shipping Fee:&nbsp;{{userInfo.currencyUnit}}{{editShipmentData.shippingFee}}</p>
      <p>Dispatch Date:&nbsp;{{editShipmentData.dispatchDate}}</p>
    </section>
    <section class="customer-shipment-section">
      <Card class="customer-shipment-card" dis-hover>
        <p slot="title" class="shipment-address">
          <Icon type="ios-jet" />
          <span v-if="Object.keys(shipmentData).length">{{shipmentData.deliveryInfo.address2}}, {{shipmentData.deliveryInfo.address1}}, {{shipmentData.deliveryInfo.city}},
          {{shipmentData.deliveryInfo.state}}, {{shipmentData.deliveryInfo.country}}, {{shipmentData.deliveryInfo.postcode}},
          {{shipmentData.deliveryInfo.customerName}}, {{shipmentData.deliveryInfo.Tel}}</span>
        </p>
        <div class="shipment-details">
          <p>Tracking No:&nbsp{{editShipmentData.shipmentItemList.trackingNo}}</p>
          <p>Supplier Courier:&nbsp;{{editShipmentData.shipmentItemList.supplierCourier}}</p>
          <p>Shipping Fee:&nbsp;{{userInfo.currencyUnit}}{{editShipmentData.shippingFee}}</p>
        </div>
        <Table :data="shipmentData.poInfo" :columns="shipmentColumns" border class="customer-order-list" stripe></Table>
      </Card>
    </section>
    <section class="shipment-action-btn-group">
      <Button type="primary" :to="{name: 'ShippedIndex', params: this.$route.params}" size="large">Back</Button>
    </section>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import {getCxShipment} from "../../../../../api";
  export default {
    name: 'shipment-detail',
    data () {
      return {
        shipAction: 'create',
        tableDataloading: true,
        notableDataTip: false,
        tableSize: 'default',
        confirmBtnDisable: true,
        createShipData: [],
        fulfillmentList: [],
        supplierCourierList: [],
        shipmentData: {},
        shipmentColumns: [
          {
            title: 'Tag',
            key: 'tag',
            fixed: 'left',
            width: 90
          },
          {
            title: 'UPC',
            key: 'upc',
            width: 120,
            fixed: 'left'
          },
          {
            title: 'From PO',
            key: 'fromPO',
            width: 180
          },
          {
            title: 'Brand',
            key: 'brand',
            width: 120
          },
          {
            title: 'Product Code',
            key: 'productCode',
            width: 140
          },
          {
            title: 'Product Name',
            key: 'productName',
            width: 140
          },
          {
            title: 'colour Code',
            key: 'colourCode',
            width: 140
          },
          {
            title: 'Size',
            key: 'size',
            width: 80
          },
          {
            title: 'Order QTY',
            key: 'orderQty',
            width: 100
          },
          {
            title: 'Exp.QTY',
            key: 'expQty',
            width: 100
          },
          {
            title: 'Unit Price',
            key: 'unitPrice',
            width: 100,
            render: (h, params) => {
              return h('span', params.row.unitPrice ? this.userInfo.currencyUnit + params.row.unitPrice : null);
            }
          },
          {
            title: 'Discount',
            key: 'discount',
            width: 100,
            render: (h, params) => {
              return h('span', params.row.discount ? params.row.discount + '%' : null);
            }
          },
          {
            title: 'Special Discount',
            key: 'specialDiscount',
            width: 140,
            render: (h, params) => {
              return h('span', params.row.specialDiscount ? params.row.specialDiscount + '%' : null);
            }
          },
          {
            title: 'Net Price',
            key: 'netPrice',
            width: 100,
            render: (h, params) => {
              return h('span', params.row.netPrice ? this.userInfo.currencyUnit + params.row.netPrice : null);
            }
          },
          {
            title: 'Total Price',
            key: 'totalPrice',
            width: 100,
            render: (h, params) => {
              return h('span', params.row.totalPrice ? this.userInfo.currencyUnit + params.row.totalPrice : null);
            }
          }
        ],
        editShipmentData: {
          fulfillment: null,
          supplierCourier: null,
          shippingFee: null,
          dispatchDate: new Date(),
          shipmentItemList: {
            trackingNo: null,
            supplierCourier: null,
            shippingFee: null
          }
        },
        formValidateRule: {
          fulfillment: { required: true },
          supplierCourier: { required: true },
          shippingFee: { required: true, type: "number"},
          dispatchDate: { required: true, trigger: 'blur', type: "date"},
          trackingNo: { required: true, type: "string" }
        }
      }
    },
    computed:{
      ...mapState({
        userInfo(state) {
          return state.userInfo;
        }
      })
    },
    created () {
      // if (this.importShipmentFormData) {
      //   this.shipmentForm = this.importShipmentFormData;
      // }
      // console.log(this.shipmentData.deliveryInfo.address2);
      this.initData();
    },
    methods: {
      initData () {
        getCxShipment(this.userInfo.token, this.$route.query.shipmentId).then(res => {
          let response;
          if (res.data) {
            response = res.data;
          } else {
            response = {
              "status": 1,
              "statusCode": 101,
              "message": {
                "deliveryInfo": {
                  "address2": "47 Sydney Road",
                  "address1": "Manly",
                  "city": "Sydney",
                  "state": "Nsw",
                  "country": "Australia",
                  "postcode": "2095",
                  "customerName": "Kate Davies",
                  "Tel": "0414782679"
                },
                "poInfo": [
                  {
                    "tag": "111",
                    "upc": "",
                    "fromPO": "",
                    "brand": "",
                    "productCode": "",
                    "ProductName": "",
                    "colourCode": "",
                    "size": "",
                    "orderQty": 1,
                    "expQty": 1,
                    "unitPrice": "",
                    "discount": "",
                    "specialDiscount": "",
                    "netPrice": "",
                    "totalPrice": ""
                  },
                  {
                    "tag": "222",
                    "upc": "",
                    "fromPO": "",
                    "brand": "",
                    "productCode": "",
                    "ProductName": "",
                    "colourCode": "",
                    "size": "",
                    "orderQty": 1,
                    "expQty": 1,
                    "unitPrice": "",
                    "discount": "",
                    "specialDiscount": "",
                    "netPrice": "",
                    "totalPrice": ""
                  }
                ],
                "shipmentNumber": "shipmentNumber",
                "trackingNumber": "123",
                "shippingFee": 120,
                "dispatchDate": '2018-10-17',
                "fulfillment": "HK",
                "supplierCourier": "DHL",
                "fulfillmentList": [
                  {"fcode": "HK", "fname": "Hong Kong"},
                  {"fcode": "DELC", "fname": "German (Log-Connect)"},
                  {"fcode": "DE", "fname": "German (Armaex DE) "},
                  {"fcode": "SH", "fname": "Shanghai"},
                  {"fcode": "US", "fname": "US(Contact Sight)"},
                  {"fcode": "PP", "fname": "US(Popular)"},
                  {"fcode": "IT", "fname": "Italy (Marco)"},
                  {"fcode": "BY", "fname": "Barry(AU)"},
                  {"fcode": "TNTCLIT", "fname": "Marco(IT)_Contacts"},
                  {"fcode": "TMHK", "fname": "Tmall HK"},
                  {"fcode": "TMSH", "fname": "Tmall SH"},
                  {"fcode": "AZ", "fname": "Amazonetc"},
                  {"fcode": "MY", "fname": "Malaysia"},
                  {"fcode": "LU", "fname": "US(Louis)"},
                  {"fcode": "LUCL", "fname": "US(LouisCL)"}
                ],
                "supplierCourierList": ["DHL", "Fedex", "German Local Courier", "HK Local Courier", "TNT", "UPS", "Other"]
              }
            };
          }
          this.fulfillmentList = response.message.fulfillmentList;
          this.supplierCourierList = response.message.supplierCourierList;
          this.editShipmentData = {
            fulfillment: response.message.fulfillment,
            supplierCourier: response.message.supplierCourier,
            shippingFee: response.message.shippingFee,
            dispatchDate: response.message.dispatchDate,
            shipmentItemList: {
              trackingNo: response.message.trackingNumber,
              supplierCourier: response.message.supplierCourier,
              shippingFee: response.message.shippingFee
            }
          };
          this.shipmentData = JSON.parse(JSON.stringify(response.message));
        });
      },
      selectSync (event) {
        let prop;
        if (event.target) {
          prop = event.target.name;
        } else {
          prop = 'supplierCourier';
        }
        this.editShipmentData.shipmentItemList[prop] = this.editShipmentData[prop];
      },
      handleSubmit () {
        let result = true;
        this.$refs['topForm'].validate((valid) => {
          if (this.editShipmentData.shipmentItemList.trackingNo) {
            result = true;
          } else {
            result = false;
          }
          if (valid && result) {
            this.$Message.success('Success!');
            this.$router.push({name: 'ShippedIndex', params: this.$route.params});
          } else {
            this.$Message.error('Fail!');
          }
        });
      },
    }
  }
</script>

<style lang="scss" scoped>
  .shipment-wrapper {
    margin-bottom: 32px;
  }

  .section-selector {
    display: flex;
    justify-content: space-around;
    margin: 30px 0;
  }

  .customer-shipment-section {

    .shipment-details {
      display: flex;
      justify-content: space-around;
      margin-bottom: 16px;
    }

    .customer-shipment-card {
      text-align: left;

      .ivu-card-head {
        background: #3f96f1!important;
      }

      .ivu-table th {
        color: #eee!important;
      }

      form {
        display: flex;
        justify-content: space-between;
        & > div {
          width: 25%;
        }
      }

      .shipment-address {
        line-height: 1;
        height: auto;
        color: #fff;
      }

      .customer-order-list {
        margin-top: 6px;
      }
    }
  }

  .shipment-action-btn-group {
    margin-top: 30px;

    a {
      width: 200px;
      height: 40px;
      font-weight: bold;
    }
  }
</style>
