<template>
  <div class="supplier-PO-wrapper page-wrapper">
    <transition name="router-slid" mode="out-in">
        <router-view></router-view>
    </transition>
  </div>
</template>

<script>
  import {mapState, mapMutations} from 'vuex';
  import { siderMenu } from '@/components/mixin';
  export default {
  	name: 'SupplierPO',
    mixins: [ siderMenu ],
    data () {
  		return {}
    },
    computed: {
      ...mapState([ 'cueMenuProps'])
    },
    created() {
    },
    methods: {
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../../assets/sass/mixin';

  .supplier-PO-wrapper .ivu-icon {
    font-size: 17px;
  }
  .bold {
    font-weight: bold;
  }
</style>
