<template>
  <div class="shipment-wrapper">
    <section class="section-title">
      <h3>Shipped Items Preview</h3>
    </section>
    <section class="section-selector">
      <Form :label-width="130" inline class="selector-form" label-position="left" :rules="formValidateRule"
            :model="confirmShipmentData" ref="topForm">
        <p class="preview-title">required</p>
        <FormItem label="Fulfillment:" prop="fulfillment">
          <Select placeholder="Select Fulfillment" v-model="confirmShipmentData.fulfillment">
            <Option v-for="item in fulfillmentList" :value="item.fcode" :key="item.fcode">{{ item.fname }}</Option>
          </Select>
        </FormItem>
        <FormItem label="Dispatch Date:" prop="dispatchDate">
          <DatePicker type="date" placeholder="Select date" :value="confirmShipmentData.dispatchDate"
                      placement="top-start" format="yyyy-MM-dd" @on-change="setDDate" :editable="datePickerEditable"></DatePicker>
        </FormItem>
        <p class="preview-title">Change All</p>
        <FormItem label="Supplier Courier:" prop="supplierCourier" :rules="{required: false}">
          <Select placeholder="Select Supplier Courier" v-model="supplierCourier" @on-change="selectSync"
                  label-in-value>
            <Option v-for="(item, index) in supplierCourierList" :value="item" :key="index">{{ item }}</Option>
          </Select>
        </FormItem>
        <FormItem label="Shipping Fee:" prop="shippingFee" :rules="{required: false}">
          <Input placeholder="Enter Shipping Fee" @on-change="selectSync" name="shippingFee" number
                 v-model="shippingFee">
            <span slot="prepend">{{$store.state.userInfo.currencyUnit}}</span>
          </Input>
        </FormItem>
      </Form>
    </section>
    <section class="customer-shipment-section">
      <Card v-for="(item, index) in confirmShipmentData.shipmentList" :key="index" class="customer-shipment-card"
            dis-hover>
        <p slot="title" class="shipment-address">
          <Icon type="ios-jet"/>
          Delivery Information:&nbsp;
          {{item.deliveryInfo.address2}}, {{item.deliveryInfo.address1}},
          {{item.deliveryInfo.city}}, {{item.deliveryInfo.state}}, {{item.deliveryInfo.country}},
          {{item.deliveryInfo.postcode}}, {{item.deliveryInfo.customerName}}, {{item.deliveryInfo.Tel}}
        </p>
        <Form inline :label-width="130" label-position="left" :rules="formValidateRule"
              :model="confirmShipmentData.shipmentList[index].deliveryInfo" ref="itemForm">
          <FormItem label="Tracking No:" prop="trackingNo">
            <Input placeholder="Enter Tracking No"
                   v-model="confirmShipmentData.shipmentList[index].deliveryInfo.trackingNo"></Input>
          </FormItem>
          <FormItem label="Supplier Courier:" prop="supplierCourier">
            <Select placeholder="Select Supplier Courier"
                    v-model="confirmShipmentData.shipmentList[index].deliveryInfo.supplierCourier">
              <Option v-for="(item, index) in supplierCourierList" :value="item" :key="index">{{ item }}</Option>
            </Select>
          </FormItem>
          <FormItem label="Shipping fee:" prop="shippingFee">
            <Input placeholder="Enter Shipping fee"
                   v-model="confirmShipmentData.shipmentList[index].deliveryInfo.shippingFee" number>
              <span slot="prepend">{{$store.state.userInfo.currencyUnit}}</span>
            </Input>
          </FormItem>
        </Form>
        <Table :data="item.poInfo" :columns="shipmentColumns" border class="customer-order-list" stripe></Table>
      </Card>
    </section>
    <section class="shipment-action-btn-group">
      <Button @click="$router.push({name: 'waitToShipCSRIndex'})">Back</Button>
      <Button type="primary" @click="handleSubmit()">Confirm</Button>
    </section>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import { submitCxShipmentCreate } from '@/api/index'

  export default {
    name: 'WaitToShipCsrCreateShipment',
    data() {
      const dateValidator = (rule, value, callback) => {
        if (!value) {
          callback(new Error('Please choose dispatch date!'));
        } else {
          callback();
        }
      };
      return {
        shipAction: 'create',
        datePickerEditable: false,
        tableDataloading: true,
        notableDataTip: false,
        tableSize: 'default',
        confirmBtnDisable: true,
        // for render fulfillment options
        fulfillmentList: [ ],
        // for render supplierCourier options
        supplierCourierList: [],
        supplierCourier: '',
        shippingFee: '',
        shipmentColumns: [
          {
            title: 'Tag',
            key: 'tag',
            fixed: 'left',
            width: 90
          },
          {
            title: 'UPC',
            key: 'upc',
            width: 120,
            fixed: 'left'
          },
          {
            title: 'From PO',
            key: 'fromPO',
            width: 180
          },
          {
            title: 'Brand',
            key: 'brand',
            width: 120
          },
          {
            title: 'Product Code',
            key: 'productCode',
            width: 140
          },
          {
            title: 'Product Name',
            key: 'productName',
            width: 140
          },
          {
            title: 'colour Code',
            key: 'colourCode',
            width: 140
          },
          {
            title: 'Size',
            key: 'size',
            width: 80
          },
          {
            title: 'Order QTY',
            key: 'orderQty',
            width: 100
          },
          {
            title: 'Exp.QTY',
            key: 'expQty',
            width: 100
          },
          {
            title: 'Unit Price',
            key: 'unitPrice',
            width: 100,
            render: (h, params) => {
              return h('span', params.row.unitPrice ? this.userInfo.currencyUnit + params.row.unitPrice : null);
            }
          },
          {
            title: 'Discount',
            key: 'unitPrice',
            width: 100,
            render: (h, params) => {
              return h('span', params.row.discount ? (params.row.discount * 100).toFixed(2) + '%' : null);
            }
          },
          {
            title: 'Special Discount',
            key: 'unitPrice',
            width: 140,
            render: (h, params) => {
              return h('span', params.row.specialDiscount ? (params.row.specialDiscount * 100).toFixed(2) + '%' : null);
            }
          },
          {
            title: 'Net Price',
            key: 'unitPrice',
            width: 100,
            render: (h, params) => {
              return h('span', params.row.netPrice ? this.userInfo.currencyUnit + params.row.netPrice : null);
            }
          },
          {
            title: 'total Price',
            key: 'totalPrice',
            width: 100,
            render: (h, params) => {
              return h('span', params.row.totalPrice ? this.userInfo.currencyUnit + params.row.totalPrice : null);
            }
          }
        ],
        confirmShipmentData: {},
        formValidateRule: {
          fulfillment: {required: true},
          supplierCourier: {required: true},
          shippingFee: {required: true, type: "number", trigger: 'blur'},
          dispatchDate: {required: true, trigger: 'blur', validator: dateValidator},
          trackingNo: {required: true, type: "string"}
        }
      }
    },
    computed: {
      ...mapState({
        createShipmentData(state) {
          if (!Object.keys(state.createShipmentData).length) {
            this.$store.dispatch('getCreateShipmentData');
          }
          return state.createShipmentData;
        },
        userInfo(state) {
          return state.userInfo;
        }
      })
    },
    created() {
      // if (this.importShipmentFormData) {
      //   this.shipmentForm = this.importShipmentFormData;
      // }
      this.initData();
    },
    methods: {
      ...mapActions(['getCreateShipmentData', 'setCreateShipmentData']),
      initData() {
        this.fulfillmentList = this.createShipmentData.fulfillmentList;
        this.supplierCourierList = this.createShipmentData.supplierCourierList;
        this.confirmShipmentData = JSON.parse(JSON.stringify(this.createShipmentData));
        this.confirmShipmentData.dispatchDate ? null: this.confirmShipmentData.dispatchDate = new Date();
      },
      selectSync(event) {
        let prop, value;
        if (event.target) {
          prop = event.target.name;
          value = this.shippingFee;
        } else {
          prop = 'supplierCourier';
          value = this.supplierCourier;
        }
        this.confirmShipmentData.shipmentList.forEach(item => {
          item.deliveryInfo[prop] = value;
        });
      },
      handleSubmit() {
        let result = true;
        this.setCreateShipmentData(this.confirmShipmentData);
        this.$refs['topForm'].validate((valid) => {
          this.$refs['itemForm'].forEach((item) => {
            item.validate((subValid) => {
              result = result && subValid;
            });
          });
          if (valid && result) {
            let apiData = {
              token: this.userInfo.token,
              fulfillment: this.confirmShipmentData.fulfillment,
              dispatchDate: this.confirmShipmentData.dispatchDate,
              shipmentInfo: []
            };
            this.confirmShipmentData.shipmentList.forEach((item, index) => {
              apiData.shipmentInfo.push({
                trackingNumber: item.deliveryInfo.trackingNo,
                courier: item.deliveryInfo.supplierCourier,
                shippingFee: item.deliveryInfo.shippingFee,
                poInfo: []
              });
              item.poInfo.forEach(_item => {
                apiData.shipmentInfo[index].poInfo.push({
                  tag: _item.tag,
                  unitPrice: _item.unitPrice,
                  discount: _item.discount,
                  specialDiscount: _item.specialDiscount,
                  netPrice: _item.netPrice,
                  totalPrice: _item.totalPrice
                })
              });
            });
            this.$Spin.show();
            submitCxShipmentCreate(apiData).then(response => {
              let _this = this;
              if (response.data.status) {
                this.$Message.success({content:'Go to shipped soon!', duration: 3});
                setTimeout(function () {
                  _this.$router.push({name: 'ShippedIndex', params:{type: 'View-Customer-Shipped'}});
                  _this.$Spin.hide();
                  clearTimeout();
                }, 3000);
              } else {
                _this.$Spin.hide();
                this.$Message.error({content: response.data.message, duration: 3});
              }
            })
          } else {
            this.$Message.error('Fail!');
          }
        });
      },
      setDDate(date) {
        this.confirmShipmentData.dispatchDate = date;
      }
    }
  }

</script>

<style lang="scss" scoped>
  .shipment-wrapper {
    margin-bottom: 32px;
  }

  .selector-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: left;
    align-items: center;
    & > * {
      flex: 0 0 45%;
    }
    .preview-title {
      color: #ed4014;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 24px;
      flex: 0 0 8%;
    }
  }

  .customer-shipment-section {
    & > div:not(:first-child) {
      margin-top: 30px;
    }

    .customer-shipment-card {
      text-align: left;

      .ivu-card-head {
        background: #3f96f1 !important;
      }

      .ivu-table th {
        color: #eee !important;
      }

      form {
        display: flex;
        justify-content: space-between;
        & > div {
          width: 25%;
        }
      }

      .shipment-address {
        line-height: 1;
        height: auto;
        color: #fff;
      }

      .customer-order-list {
        margin-top: 6px;
      }
    }
  }

  .shipment-action-btn-group {
    margin-top: 30px;

    button {
      width: 200px;
      height: 40px;
      font-weight: bold;
    }

    button:first-child {
      margin-right: 20px;
      background: rgba(102, 102, 102, 1);
      border: none;
      color: #fff;
    }
  }
</style>
