<template>
  <div class="wrapper">
    <topMenu></topMenu>
    <section class="data-operates data-operates-top">
      <p>Manually Confirm Selected Items:</p>
      <Button size="large" shape="circle" type="primary" @click="exportSelectedItemsFunc" class="btn">Export Selected
        Items
      </Button>
      <Button size="large" shape="circle" type="primary" @click="importItemsModal = true" class="btn">Import
        Confirmation
      </Button>
    </section>

    <section class="data-operates data-operates-batch-update clearfix">
      <div class="cnt-left">
        <div class="batch-update-status">
          <p>Batch Update Selected Items:</p>
          <RadioGroup v-model="batchUpdateStatus" @on-change="batchUpdate">
            <Radio v-for="(item, index) in batchUpdateStatusList" :label="index" :key="item.status_key"
                   style="text-transform: capitalize;">{{item.status_value}}
            </Radio>
          </RadioGroup>
        </div>
      </div>
      <div class="cnt-right">
        <Button type="primary" size="large" long :disabled="confirmBtnDisable" @click="submitConfirmedData">Update
          Confirm
        </Button>
      </div>
      <Modal
        v-model="batchUpdateModal"
        title="Warning"
        @on-ok="batchUpdateModalClose"
        @on-cancel="batchUpdateModalClose">
        <p>Please select item !</p>
      </Modal>
    </section>

    <section class="table-size">
      <div class="table-size-cnt">
        Table size
        <Radio-group v-model="tableSize" type="button">
          <Radio label="large">large</Radio>
          <Radio label="default">medium(default)</Radio>
          <Radio label="small">small</Radio>
        </Radio-group>
      </div>
      <p class="items-remain" v-show="waitToConfirmData"><span class="item-num">{{ waitToConfirmData? waitToConfirmData.length : 0 }}</span>
        Items Remain</p>
    </section>
    <section class="data-list">
        <Table border no-data-text :size="tableSize" :loading="tableDataloading" ref="waitToConfirm"
               :columns="tableColumns" :data="waitToConfirmData"
               @on-select="addSelectedItem"
               @on-selection-change="changeSelectedItem"
               @on-select-cancel="cancelItem"
               v-if="!notableDataTip.active">
        </Table>
      <div v-show="notableDataTip.active">
        <Alert type="warning" class="no-data-alter">
          A warning prompt
          <template slot="desc">
            {{notableDataTip.msg}}
          </template>
        </Alert>
      </div>
    </section>

    <Modal v-model="importItemsModal" width="360">
      <p slot="header" style="color:#f60;text-align:center">
        <Icon type="ios-information-circle"></Icon>
        <span>Import Item Confirmation Excel File</span>
      </p>
      <div style="text-align:center">
        <Upload
          ref="excelFileUploadForm"
          type="drag"
          :format="['xlsx']"
          :on-format-error="handleFormatError"
          action="/portal-api/import-wait-confirm-po-list"
          :accept="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel'"
          :before-upload="fileBeforeUpload"
          :on-success="fileUploadSuccess"
          :on-error="fileUploadError"
          :data="uploadData"
          :on-remove="removeUploadFile"
          :on-progress="fileUploadProgress">
          <div style="padding: 20px 0">
            <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
            <p>Click or drag files here to upload</p>
          </div>
        </Upload>
        <Alert type="error" v-show="uploadPrompt.active" show-icon>{{uploadPrompt.msg}}</Alert>
      </div>
      <div slot="footer"></div>
    </Modal>

    <Modal v-model="dataPreviewModal" width="80%" class="data-preview-modal">
      <p slot="header" style="color:#f60;text-align:center">
        <Icon type="ios-information-circle"></Icon>
        <span>Items Confirmation Preview</span>
      </p>
      <div style="text-align:center">
        <section v-if="preApprovedWaitConfirmData.length">
          <h3 class="title successful">Approved</h3>
          <Table border no-data-text :size="tableSize" :loading="tableDataloading" :columns="preCheckTableColumns"
                 :data="preApprovedWaitConfirmData"></Table>
        </section>
        <section class="warning-items" v-if="preNotApprovedWaitConfirmData.length">
          <h3 class="title error">Not Approved, please update the status.</h3>
          <Table border no-data-text :size="tableSize" :loading="tableDataloading" :columns="preCheckTableColumns"
                 :data="preNotApprovedWaitConfirmData"></Table>
        </section>
      </div>
      <div slot="footer" class="data-preview-btn-group">
        <Button type="default" size="large" @click="cancelPreCheckWaitConfirmData">Cancel</Button>
        <Button type="primary" size="large" @click="confirmWaitToConfirm"
                v-show="preApprovedWaitConfirmData.length > 0 && preNotApprovedWaitConfirmData.length == 0">Confirm
        </Button>
      </div>
    </Modal>

    <transition name="router-slid" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import {modalInstance} from '@/components/mixin';
  import {getSupplierPO, submitWaitToConfirm, waitToConfirmExcelExport} from '@/api/index';
  import {state} from '@/store/index';
  import topMenu from '../../../../components/topMenu';
  import qs from 'qs';

  export default {
    name: 'WaitToConfirm',
    mixins: [modalInstance],
    data() {
      return {
        tableDataloading: true,
        notableDataTip: {
          active: false,
          msg: null
        },
        tableSize: 'default',
        submitTipMsg: [],
        submitTipMsgShow: false,
        waitToConfirmData: [],
        exportSelectedItems: [],
        importItemsModal: false,
        loadingStatus: false,
        // uploadExcelResponseData: [],
        confirmBtnDisable: true,
        batchUpdateStatus: null,
        batchUpdateModal: false,
        dataPreviewModal: false,
        tableColumns: [
          {
            type: 'selection',
            width: 60,
            align: 'center',
            fixed: 'left'
          },
          {
            title: 'Tag',
            align: 'center',
            width: 90,
            fixed: 'left',
            key: 'tag'
          },
          {
            title: 'upc',
            align: 'center',
            minWidth: 125,
            fixed: 'left',
            key: 'upc'
          },
          {
            title: 'From PO',
            align: 'center',
            minWidth: 150,
            key: 'fromPO'
          },
          {
            title: 'Create Date',
            align: 'center',
            minWidth: 150,
            key: 'createDate'
          },
          {
            title: 'Category',
            align: 'center',
            width: 160,
            key: 'category'
          },
          {
            title: 'Brand',
            align: 'center',
            minWidth: 130,
            key: 'brand'
          },
          {
            title: 'Product Code',
            width: 85,
            align: 'center',
            key: 'productCode'
          },
          {
            title: 'Product Name',
            minWidth: 185,
            key: 'productName'
          },
          {
            title: 'Colour Code',
            width: 80,
            align: 'center',
            key: 'colourCode'
          },
          {
            title: 'Size',
            width: 65,
            align: 'center',
            key: 'size'
          },
          {
            title: 'Order QTY',
            width: 70,
            align: 'center',
            key: 'orderQty'
          },
          {
            title: 'Exp. QTY',
            width: 70,
            align: 'center',
            key: 'expQty'
          },
          {
            title: 'Status',
            align: 'center',
            width: 200,
            key: 'status',
            render: (h, params) => {
              return h('Select', {
                  on: {
                    'on-change': (e) => {
                      if (e != 1) {
                        this.waitToConfirmData[params.index].status = e;

                        params.row.status = e;
                        if (e == 3) {
                          params.row._checked = true;
                          params.row.expQty = 1;
                          this.confirmBtnDisable = false;
                        } else {
                          params.row._checked = true;
                          params.row.expQty = 0;
                          this.confirmBtnDisable = false;
                        }
                      } else {
                        params.row.status = '';
                        params.row.expQty = 0;
                        delete params.row._checked;
                        this.confirmBtnDisable = true;
                      }
                      this.waitToConfirmData.splice(params.index, 1, params.row);
                    }
                  },
                  props: {
                    placeholder: 'wait to update',
                    clearable: true,
                    value: this.waitToConfirmData[params.index].status
                  }
                },
                this.batchUpdateStatusList.map((item) => {
                  return h('Option', {
                    props: {
                      value: item.status_key,
                    }
                  }, item.status_value);
                }));
            }

          }
        ],
        preCheckTableColumns: [
          {
            title: 'Tag',
            align: 'center',
            width: 90,
            fixed: 'left',
            key: 'tag'
          },
          {
            title: 'upc',
            align: 'center',
            minWidth: 125,
            fixed: 'left',
            key: 'upc'
          },
          {
            title: 'From PO',
            align: 'center',
            minWidth: 150,
            key: 'fromPO'
          },
          {
            title: 'Create Date',
            align: 'center',
            minWidth: 150,
            key: 'createDate'
          },
          {
            title: 'Category',
            align: 'center',
            width: 160,
            key: 'category'
          },
          {
            title: 'Brand',
            align: 'center',
            minWidth: 130,
            key: 'brand'
          },
          {
            title: 'Product Code',
            width: 85,
            align: 'center',
            key: 'productCode'
          },
          {
            title: 'Product Name',
            minWidth: 185,
            key: 'productName'
          },
          {
            title: 'Colour Code',
            width: 80,
            align: 'center',
            key: 'colourCode'
          },
          {
            title: 'Size',
            width: 65,
            align: 'center',
            key: 'size'
          },
          {
            title: 'Order QTY',
            width: 70,
            align: 'center',
            key: 'orderQty'
          },
          {
            title: 'Exp. QTY',
            width: 70,
            align: 'center',
            key: 'expQty',
            fixed: 'right'
          },
          {
            title: 'Status',
            align: 'center',
            fixed: 'right',
            width: 170,
            key: 'status',
            render: (h, params) => {
              return h('span',
                this.batchUpdateStatusList.map((item, index) => {
                  if (item.status_key == params.row.status) {
                    return this.batchUpdateStatusList[index].status_value;
                  }
                })
              )
            }
          }
        ],
        preApprovedWaitConfirmData: [],
        preNotApprovedWaitConfirmData: [],
        uploadData:
          {
            token: ''
          }
        ,
        uploadPrompt: {
          msg: '',
          active:
            false
        }
        ,
        batchUpdateStatusList: [],
        updateData: [],
        // loading data
        tableData: [],
        dataIndex: 0
      }
    },
    computed: {
      ...mapState({
        userInfo(state) {
          return state.userInfo;
        }
      })
    },
    created() {
      this.initData();
    },
    components: {
      topMenu
    },
    methods: {
      initData() {
        getSupplierPO('wait-to-confirm', {token: this.userInfo.token}).then(res => {
          this.$Loading.start();
          if (res.status == 200 && res.data.status) {
            let resObj = res.data;
            this.$Loading.finish();
            this.tableDataloading = false;
            this.waitToConfirmData = resObj.message.poItemList ? resObj.message.poItemList : [];
            this.batchUpdateStatusList = resObj.message.poStatusList;
            if (resObj.message.poItemList) {
              this.waitToConfirmData = resObj.message.poItemList
            } else {
              this.waitToConfirmData = [];
              this.notableDataTip.active = true;
              this.notableDataTip.msg = 'None wait to confirm!';
            }
            this.$Message.success('Update Wait to Confirm Success!');
          } else {
            this.$Loading.error();
            this.notableDataTip.active = true;
            this.notableDataTip.msg = res.data.message;
            this.$Message.error('Update Wait to confirm Error!Please try again!');
          }
        }).catch(err => {
          console.log(err);
          this.notableDataTip.active = true;
          this.notableDataTip.msg = 'Failure! Please contact with MG IT team!';
          this.$Loading.error();
        });
      },
      exportSelectedItemsFunc() {
        this.exportSelectedItems = [];
        this.waitToConfirmData.forEach(data => {
          if (data._checked) {
            this.exportSelectedItems.push(data.tag);
          }
          // this.exportSelectedItems.supplierId = 72;
        });
        if (this.exportSelectedItems.length == 0) {
          this.modalInstance('warning', 'warning', 'Please select item !');
          return;
        }
        // this.exportSelectedItems.tag.forEach(item => {
        // 	item.alter_options = '';
        // });

        let link = document.createElement('a');
        link.style.display = 'none';
        link.href = '/portal-api/download-wait-confirm-po-list/token/' + this.userInfo.token + '/tags/' + this.exportSelectedItems;
        link.click();
        window.URL.revokeObjectURL(link.href);

        // waitToConfirmExcelExport(this.exportSelectedItems, this.userInfo.token).then(res => {
        //   this.$Loading.start();
        //   if (res.data.status) {
        //     this.$Loading.finish();
        //     this.$Message.success('Export excel success!');
        //     this.modalInstance('success', 'Success', 'Export file success!');
        //     let url = window.URL.createObjectURL(new Blob([res.data]));
        //     let link = document.createElement('a');
        //     link.style.display = 'none';
        //     link.href = url;
        //     link.setAttribute('download', 'test.xlsx');
        //     document.body.appendChild(link);
        //     link.click();
        //     window.URL.revokeObjectURL(url);
        //     document.body.removeChild(link);
        //   } else {
        //     this.$Loading.error();
        //     this.$Message.error('Export excel fail!');
        //   }
        // });
      }
      ,
      batchUpdate(selected) {
        if (this.updateData.length <= 0) {
          this.batchUpdateModal = true;
          return;
        }
        this.tableDataloading = true;
        this.waitToConfirmData.forEach((item, index) => {
          if (item._checked) {
            let obj = item;
            obj.expQty = this.batchUpdateStatusList[selected].status_key == 3 ? 1 : 0;
            obj.status = this.batchUpdateStatusList[selected].status_key;
            this.waitToConfirmData.splice(index, 1, obj);
          }
        });
        this.tableDataloading = false;
      },
      batchUpdateModalClose() {
        this.batchUpdateModal = false;
        this.batchUpdateStatus = 'wait to update';
      },
      addSelectedItem(selection) {
        this.updateData = selection;
        selection.forEach((selectionItem) => {
          this.waitToConfirmData.forEach(data => {
            if (selectionItem.tag == data.tag) {
              data._checked = true;
            }
          })
        });
      },
      cancelItem(selection, row) {
        this.updateData = selection;
        this.waitToConfirmData.forEach((data) => {
          if (row.tag == data.tag) {
            delete data._checked;
            data.expQty = 0;
            data.status = 1;
          }
        })
      },
      changeSelectedItem(selection) {
        let newWaitToConfirmData = [];
        this.batchUpdateStatus = null;
        this.updateData = selection;
        if (selection.length == 0) {
          this.confirmBtnDisable = true;
          this.waitToConfirmData.forEach((data) => {
            delete data._checked;
            data.expQty = 0;
            data.status = 1;
            newWaitToConfirmData.push(data);
          });
          this.waitToConfirmData = newWaitToConfirmData;
          this.tableDataloading = false;
        } else if (selection.length == this.waitToConfirmData.length) {
          this.confirmBtnDisable = false;
          this.waitToConfirmData.forEach(data => {
            data._checked = true;
            newWaitToConfirmData.push(data);
          });
          this.waitToConfirmData = newWaitToConfirmData;
          this.$nextTick(() => {
          });
          this.tableDataloading = false;
        } else {
          this.confirmBtnDisable = false;
        }
      },
      submitConfirmedData() {
        // let dataArray = [];
        // let willSubmitDataArrray = [];
        let _willSubmitDataArrray = [];
        this.submitTipMsg = [];
        this.waitToConfirmData.forEach((item) => {
          if (item._checked) {
            if (item.status != 1) {
              _willSubmitDataArrray.push({tag: item.tag, status: item.status});
            } else {
              this.submitTipMsg.push({upc: item.upc});
            }
          }
        });
        if (this.submitTipMsg.length > 0) {
          let submitModalTipHTML = '<p>Please check the list of Status</p>';
          this.submitTipMsg.forEach(item => {
            submitModalTipHTML += '<p>upc: ' + item.upc + '<p>'
          });
          this.modalInstance('error', 'error', submitModalTipHTML);
          this.$Message.error('Submit fail!');
          return;
        }
        // this.RECORD_WAITTOCONFIRM(this.dataArray);
        if (_willSubmitDataArrray.length > 0) {
          submitWaitToConfirm(_willSubmitDataArrray, this.userInfo.token).then(res => {
            let resData = res.data;
            if (resData.status) {
              this.$Message.success('Submit success!');
              this.$Loading.finish();
              this.confirmBtnDisable = true;
              this.initData();
            } else {
              this.$Message.error(res.message);
            }
          }).catch(err => {
            console.log(err);
          });
        } else {
          this.modalInstance('error', 'error', 'Please select item');
          this.$Message.error('Submit fail!');
        }
      }
      ,
      cancelPreCheckWaitConfirmData() {
        this.dataPreviewModal = false;
      }
      ,
      fileBeforeUpload(file) {
        this.uploadData.token = this.userInfo.token;
        qs.stringify(this.uploadData);
      }
      ,
      fileUploadProgress(event, file, fileList) {

      }
      ,
      fileUploadSuccess(response, file) {
        this.$refs.excelFileUploadForm.clearFiles();
        this.dataPreviewModal = true;

        let resObj = response.message;
        // this.uploadExcelResponseData = response.data;
        this.importItemsModal = false;
        this.$Message.success('File Upload Success');
        this.preApprovedWaitConfirmData = resObj.approvePoItemList ? resObj.approvePoItemList : [];
        this.preNotApprovedWaitConfirmData = resObj.rejectPoItemList ? resObj.rejectPoItemList : [];
        // this.uploadExcelResponseData.forEach(resData => {
        //   this.waitToConfirmData.forEach((item, index) => {
        //     if (resData.tag == item.tag) {
        //       item._checked = true;
        //       item.expQty = resData.expQty;
        //       item.status = resData.status;
        //       this.waitToConfirmData.splice(index, 1, item)
        //     }
        //   })
        // });
      }
      ,
      fileUploadError(error, file, fileList) {
        console.log(error.data);
        let data = JSON.parse(error.data);
        this.uploadPrompt.active = true;
        this.uploadPrompt.msg = data.message;
      }
      ,
      handleFormatError(file) {
        this.modalInstance('error', 'The file format is incorrect', 'File format of ' + file.name + ' is incorrect, please select xlsx.');
      }
      ,
      removeUploadFile() {
        this.uploadPrompt.active = false
      }
      ,
      confirmWaitToConfirm() {
        let _confirmData = [];
        this.preApprovedWaitConfirmData.forEach(item => {
          _confirmData.push({tag: item.tag, status: item.status});
        });
        submitWaitToConfirm(_confirmData, this.userInfo.token).then(res => {
          this.$Loading.start();
          let resData = res.data;
          if (resData.status == 1) {
            this.$Message.success('Submit success!');
            this.$Loading.finish();
            this.dataPreviewModal = false;
            this.initData();
          } else {
            this.$Message.error(resData.message);
            this.$Loading.error();
          }
        });
      }
    },
    watch: {
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../../../assets/sass/mixin';

  .data-operates-top {
    @include fj(flex-start);
    p, .btn {
      margin-right: 10px;
    }
  }

  .data-operates-batch-update {
    padding-bottom: 10px;
  }

  .batch-update-status {
    @include fj(flex-start);
  }

  .data-preview-modal {
    .title {
      padding-bottom: 5px;
      text-align: left;
    }
    .warning-items {
      margin-top: 20px;
    }
    .successful {
      color: #19be6b;
    }
    .error {
      color: #cc0000;
    }
  }

  .data-preview-btn-group {
    text-align: center;
  }

  section p,
  .table-size-cnt {
    font-weight: bold;
  }

  .table-size-cnt > div {
    margin-left: 10px;
  }

  .data-list {
    margin-top: 15px;
  }

  .demo-spin-icon-load {
    animation: ani-demo-spin 1s linear infinite;
  }
</style>
