<template>
  <div>
    <Alert class="last-login-time">
      <h2>Welcome {{userName}}</h2>
      <template slot="desc">Last login: {{loginTime}}</template>
    </Alert>
  </div>
</template>

<script>
  import {mapState} from 'vuex';
  import HeaderNav from '@/components/HeaderNav';
  import { getUserInfo } from '@/api/index';
  export default {
    name: 'Dashboard',
    components: { HeaderNav },
  	data () {
      return {}
    },
    computed:{
      ...mapState({
        userName: function (state) {
          return state.userInfo.userName
        },
        loginTime: function (state) {
          return state.userInfo.loginTime
        }
      })
    },
    methods: {
      test () {

      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
  .last-login-time .ivu-alert-message {
    padding-bottom: 10px;
    font-size: 16px;
  }
  .last-login-time .ivu-alert-desc {
    font-size: 14px;
  }
</style>
