<template>
  <div class="export-list-wrapper">
    <Table :columns="exportColumns" :data="exportSelectedItems" v-if="exportSelectedItems.length" class="table-wrapper"></Table>
    <div v-else class="no-data-wrapper">
      <Alert type="warning" class="no-data-alter">
        A warning prompt
        <template slot="desc">
          No data, please go back and select item!!
        </template>
      </Alert>
    </div>
  </div>
</template>

<script>
  export default {
  	name: 'ExportItemListTemplate',
    props:['exportSelectedItems', 'exportColumns'],
  	data () {
  		return {
      }
    },
    created () {
    }
  }
</script>

<style lang="scss" scoped>
</style>
