<template>
  <div>
    <section class="section-title">
      <h3>Invoice details</h3>
    </section>
    <section class="detail-info-form">
      <Form ref="shipmentForm" :model="shipmentFormData" :rules="ruleValidate" :label-width="160" class="shipment-form">
        <FormItem label="Fulfillment" prop="fulfillment">
          <Select v-model="shipmentFormData.fulfillment" placeholder="Choose Fulfillment" style="max-width: 300px;">
            <Option v-for="item in shipmentFormData.fulfillmentList" :value="item.fcode" :key="item.fcode">
              {{item.fname}}
            </Option>
          </Select>
        </FormItem>
        <FormItem label="Supplier Courier" prop="supplierCourier">
          <Select v-model="shipmentFormData.supplierCourier" placeholder="Choose Courier" style="max-width: 300px;">
            <Option v-for="(item, index) in shipmentFormData.supplierCourierList" :value="item" :key="index">{{item}}
            </Option>
          </Select>
        </FormItem>
        <FormItem label="Dispatch Date" prop="dispatchDate">
          <DatePicker type="date" placeholder="Select date"
                      style="width: 300px;"
                      format="yyyy-MM-dd" :editable="timePickerEditable" @on-change="changeDDate"
                      :value="shipmentFormData.dispatchDate"></DatePicker>
        </FormItem>
        <FormItem label="ETA" prop="eta">
          <DatePicker type="date" placeholder="Select date" style="width: 300px;" @on-change="changeEta"
                      :value="shipmentFormData.eta" :editable="timePickerEditable"></DatePicker>
        </FormItem>
        <FormItem label="Tracking No." prop="trackingNo">
          <Input v-model="shipmentFormData.trackingNo" placeholder="Enter something..."
                 style="max-width: 300px;"></Input>
        </FormItem>
        <FormItem label="Shipping fee" prop="shippingFee">
          <Input v-model="shipmentFormData.shippingFee" placeholder="Enter something..." style="max-width: 300px;">
            <span slot="prepend">{{$store.state.userInfo.currencyUnit}}</span>
          </Input>
        </FormItem>
        <FormItem label="Invoice No." prop="invoiceNo">
          <Input v-model="shipmentFormData.invoiceNo" placeholder="Enter something..."
                 style="max-width: 300px;"></Input>
        </FormItem>
        <FormItem label="invoiceDate" prop="invoiceDate">
          <DatePicker type="date" placeholder="Select date" @on-change="changeInvoiceDate"
                      :value="shipmentFormData.invoiceDate" style="width: 300px;" format="yyyy-MM-dd"
                      :editable="timePickerEditable"></DatePicker>
        </FormItem>
        <FormItem label="Invoice Attachment" prop="invoiceAttachment">
          <p>（Up to 5 files,support PDF, Excel formats.）</p>
          <section class="invoice-wrapper">
            <div class="invoice-attachment" v-for="(item, index) in invoiceAttachment.fileList" :key="index">
              <template>
                <!--<template v-if="true">-->
                <div class="invoice-attachment-file">
                  <!--<img :src="item.fileType">-->
                  <img src="../assets/images/pdf-default-icon.png" alt="" v-if="item.fileType == 'pdf'">
                  <img src="../assets/images/excel-default-icon.jpg" alt=""
                       v-if="item.fileType == 'xls' || item.fileType == 'xlsx'">
                  <p class="invoice-attachment-icons">
                    <a :download="item.fileName + '.' + item.fileType" @click="handleDownload(item, $event)">
                      <Icon type="ios-cloud-download-outline" class="icon"/>
                    </a>
                    <a @click="handleRemove(item, $event)">
                      <Icon type="ios-trash-outline" class="icon"/>
                    </a>
                  </p>
                </div>
                <p class="invoice-attachment-name">{{item.fileName}}</p>
              </template>
            </div>
            <Upload
              ref="upload"
              :show-upload-list="false"
              :on-success="handleSuccess"
              :format="['pdf','xlsx']"
              :accept="'application/pdf,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel'"
              :before-upload="handleBeforeUpload"
              :on-error="handleError"
              :on-exceeded-size="handleExceeded"
              :data="uploadData"
              :max-size="2048"
              type="drag"
              action="/portal-api/upload-invoice-attachment"
              style="display: inline-block;width:58px;"
              v-show="!isUploading">
              <div style="width: auto;height:58px;line-height: 58px;">
                <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
              </div>
            </Upload>
            <Spin class="loading-body" v-show="isUploading">
              <Icon type="ios-loading" size=18 class="demo-spin-icon-load"></Icon>
              <div>Uploading</div>
            </Spin>
          </section>
          <Alert type="error" v-show="uploadMsg.active" style="width: 300px">{{uploadMsg.msg}}</Alert>
        </FormItem>
        <FormItem label="Notes" prop="notes">
          <Input v-model="shipmentFormData.notes" type="textarea" :autosize="{minRows: 2,maxRows: 5}"
                 placeholder="Enter something..." style="max-width: 300px;"></Input>
        </FormItem>

        <FormItem>
          <Button @click="$router.push({name: 'ShippedIndex', params: {type: 'View-Warehouse-Shipped'}})"
                  v-if="shipAction == 'edit'">Go Back
          </Button>
          <Button @click="$router.push({name: 'waitToShipWHIndex'})" v-if="shipAction == 'create'">Go Back</Button>
          <Button style="margin-left: 8px" type="primary" @click="submitShipForm('shipmentForm')">Confirm</Button>
        </FormItem>

      </Form>
    </section>
    <Modal v-model="createShipmentSuccessful" width="360">
      <p slot="header" style="text-align:center">
        <Icon type="ios-information-circle"></Icon>
        <span>confirmation</span>
      </p>
      <div style="text-align:center">
        <p>Where to go?</p>
      </div>
      <div slot="footer" style="display: flex;justify-content: center">
        <Button type="success" @click="$router.push({name: 'waitToShipWHIndex'})">go back to Wait to
          ship
        </Button>
        <Button type="success"
                @click="$router.push({name: 'ShippedIndex', params: {type: 'View-Warehouse-Shipped'}})">go to Shipped
        </Button>
      </div>
    </Modal>
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex';
  import {modalInstance} from '@/components/mixin';
  import {createShipment, removeInvoiceAttachment, downloadInvoice, shipmentEdit} from '@/api/index';
  import qs from 'qs';

  export default {
    name: 'ShipmentForm',
    props: ['shipmentList', 'shipmentForm', 'shipAction'],
    mixins: [modalInstance],
    data() {
      const validateInvoice = (rule, value, callback) => {
        this.uploadMsg = {
          active: false,
          msg: ''
        };
        if (value.fileList.length == 0) {
          callback(new Error('The attachment cannot be empty'));
        } else {
          callback();
        }
      };

      return {
        isUploading: false,
        createShipmentSuccessful: false,
        timePickerEditable: false,
        ruleValidate: {
          fulfillment: [
            {required: true, message: 'Please select fulfillment', trigger: 'change'}
          ],
          supplierCourier: [
            {required: true, message: 'Please select supplier courier', trigger: 'change'}
          ],
          dispatchDate: [
            {required: true, trigger: 'blur', type: 'string', message: 'Please select Dispatch Date'}
          ],
          eta: [
            {required: true, trigger: 'blur', type: 'string', message: 'Please select ETA'}
          ],
          trackingNo: [
            {required: true, message: 'The tracking number cannot be empty', trigger: 'blur'}
          ],
          shippingFee: [
            {required: true, message: 'The shipping fee cannot be empty', trigger: 'blur'}
          ],
          invoiceNo: [
            {required: true, message: 'The invoice cannot be empty', trigger: 'blur'}
          ],
          invoiceDate: [
            {required: true, type: 'string', trigger: 'blur', message: 'Please select Invoice Date'}
          ],
          invoiceAttachment: [
            {required: true, trigger: 'change', validator: validateInvoice}
          ],
//          notes: [
//            { required: true, message: 'Please enter a personal introduction', trigger: 'blur' },
//            { type: 'string', min: 20, message: 'Introduce no less than 20 words', trigger: 'blur' }
//          ]
        },
        uploadList: [],
        uploadMsg: {
          active: false,
          msg: ''
        },
        uploadData: {
          token: '',
          invoiceNo: null,
          invoiceDate: ''
        },
        shipmentFormData: null
      }
    },

    computed: {
      ...mapState({
        createShipmentData(state) {
          if (!Object.keys(state.createShipmentData).length) {
            this.$store.dispatch('getCreateShipmentData');
          }
          return state.createShipmentData;
        },
        userInfo(state) {
          return state.userInfo;
        }
      }),
      invoiceAttachment() {
        if (this.shipmentFormData.invoiceAttachment.length == 0) {
          this.shipmentFormData.invoiceAttachment = {fileList: [], folderName: ''};
        }
        return this.shipmentFormData.invoiceAttachment
      }
    },
    created() {
      if (this.shipAction == 'create') {
        this.shipmentFormData = this.createShipmentData.shipmentListInfo;
        this.uploadList = this.createShipmentData.shipmentListInfo.invoiceAttachment;
      } else {
        this.shipmentFormData = this.shipmentForm;

      }
    },
    methods: {
      ...mapActions(['setCreateShipmentData', 'getCreateShipmentData']),
      submitShipForm(name) {
        this.setCreateShipmentData({shipmentItemInfo: this.shipmentList, shipmentListInfo: this.shipmentFormData});
        this.$refs[name].validate((valid) => {
          if (valid) {
            this.shipmentFormData.dispatchDate = this.shipmentFormData.dispatchDate;
            this.shipmentFormData.eta = this.shipmentFormData.eta;
            this.shipmentFormData.invoiceDate = this.shipmentFormData.invoiceDate;


            let confirmList = [];
            this.shipmentList.forEach(item => {
              if (item.tag != 'Total') {
                confirmList.push({
                  tag: item.tag,
                  unitPrice: item.unitPrice,
                  discount: item.discount,
                  specialDiscount: item.specialDiscount,
                  netPrice: item.netPrice,
                  totalPrice: item.netPrice
                });
              }
            });

            let _apiFormData = JSON.parse(JSON.stringify(this.shipmentFormData));
            _apiFormData.invoiceId = _apiFormData.invoiceAttachment.folderName;
            delete _apiFormData.invoiceAttachment;
            delete _apiFormData.fulfillmentList;
            delete  _apiFormData.supplierCourierList;

            if (this.shipAction == 'create') {
              createShipment(confirmList, _apiFormData, this.userInfo.token).then(res => {
                this.$Loading.start();
                let resObj = res.data;
                if (resObj.status) {
                  this.$Loading.finish();
                  this.createShipmentSuccessful = true;
                  this.$Message.success('Success!');
                } else {
                  this.$Loading.error();
                  this.modalInstance('error', 'Create shipment fail!', res.data.message);
                }
              }).catch(err => {
                console.log(err);
                this.$Message.error('Fail!');
              });
            } else {
              _apiFormData.shipmentId = this.$route.query.shipmentId;
              shipmentEdit(this.userInfo.token, _apiFormData).then(res => {
                let _this = this;
                this.$Loading.start();
                let resObj = res.data;
                if (resObj.status) {
                  this.$Loading.finish();
                  this.$Message.success({content:'Go to shipped soon!', duration: 3});
                  setTimeout(function () {
                    _this.$router.push({name: 'ShippedIndex', params: {type: _this.$route.params.type}});
                    clearTimeout();
                  }, 3000);
                } else {
                  this.$Loading.error();
                  this.modalInstance('error', 'Edit shipment fail!', res.data.message);
                }
              }).catch(err => {
                console.log(err);
                this.$Message.error('Fail!');
              });
            }

          } else {
            this.$Message.error('Fail!');
          }
        });
      },
      handleRemove(file) {
        removeInvoiceAttachment(this.userInfo.token, file.fileName + '.' + file.fileType, this.shipmentFormData.invoiceAttachment.folderName).then(res => {
          if (res.data.status) {
            this.shipmentFormData.invoiceAttachment.fileList.forEach((item, index) => {
              if (item.fileName == file.fileName) {
                this.shipmentFormData.invoiceAttachment.fileList.splice(index, 1);
              }
            });
            this.setCreateShipmentData({
              shipmentItemInfo: this.shipmentList,
              shipmentListInfo: this.shipmentFormData
            });
            this.$refs.shipmentForm.validateField('invoiceAttachment', (valid) => {
            });
          }
        }).catch(err => {
          console.log(err);
        })
      },
      handleDownload(file, event) {
        let link = event.currentTarget;
        link.href = '/portal-api/download-invoice-attachment/token/' + this.userInfo.token + '/fileName/' + file.fileName + '.' + file.fileType + '/folderName/' + this.shipmentFormData.invoiceAttachment.folderName;
        window.URL.revokeObjectURL(link.href);

        // downloadInvoice(this.userInfo.token, file.fileName + '.' + file.fileType, this.shipmentFormData.invoiceAttachment.folderName).then(res => {
        //   if (!res.data.message) {
        //     console.log(res);
        //     // let url = window.URL.createObjectURL(new Blob([res.data], {type: 'application/octet-stream'}));
        //     // let link = document.createElement('a');
        //     // link.style.display = 'none';
        //     // link.href = url;
        //     // link.setAttribute('download', file.fileName + '.' + file.fileType);
        //     // document.body.appendChild(link);
        //     // link.click();
        //     // window.URL.revokeObjectURL(url);
        //     // document.body.removeChild(link);
        //   }
        // });

      },
      handleSuccess(res, file, fileList) {
        this.uploadMsg = {
          active: false,
          msg: ''
        };
        if (res.status == 1) {
          let _createShipmentData = JSON.parse(JSON.stringify(this.createShipmentData));
          _createShipmentData.shipmentListInfo.invoiceNo = this.shipmentFormData.invoiceNo;
          _createShipmentData.shipmentListInfo.invoiceDate = this.shipmentFormData.invoiceDate;
          if (_createShipmentData.shipmentListInfo.invoiceAttachment.length == 0) {
            _createShipmentData.shipmentListInfo.invoiceAttachment = {
              fileList: [],
              folderName: ''
            };
          }
          this.shipmentFormData.invoiceAttachment.fileList.push({
            fileName: res.message.fileList.fileName,
            fileType: res.message.fileList.fileType
          });
          _createShipmentData.shipmentListInfo.invoiceAttachment.fileList = this.shipmentFormData.invoiceAttachment.fileList;
          _createShipmentData.shipmentListInfo.invoiceAttachment.folderName = res.message.folderName;
          this.shipmentFormData = JSON.parse(JSON.stringify(_createShipmentData.shipmentListInfo));
          this.setCreateShipmentData(_createShipmentData);
        }
        this.isUploading = false;
        this.$refs.shipmentForm.validateField('invoiceAttachment');
      },
      handleExceeded(file) {
        this.modalInstance('error', 'The file format is exceeded', 'File size of ' + file.name + ' is exceeded, please check your file.');
        this.isUploading = false;
        return false;
      },
      handleBeforeUpload() {
        this.setCreateShipmentData({shipmentItemInfo: this.shipmentList, shipmentListInfo: this.shipmentFormData});
        const check = this.shipmentFormData.invoiceAttachment.fileList.length < 5;
        if (!check) {
          this.modalInstance('warning', 'Warning', 'Up to five files can be uploaded.');
          return false;
        } else {
          if (this.shipmentFormData.invoiceNo == '' || this.shipmentFormData.invoiceDate == '') {
            this.modalInstance('warning', 'Warning', 'Please Input Invoice No. and Invoice Date!');
            return false;
          } else {
            this.uploadData.token = this.userInfo.token;
            this.uploadData.invoiceNo = this.shipmentFormData.invoiceNo;
            this.uploadData.invoiceDate = this.shipmentFormData.invoiceDate;
            this.shipmentFormData.invoiceAttachment.folderName? this.uploadData.invoiceId = this.shipmentFormData.invoiceAttachment.folderName: null;
            qs.stringify(this.uploadData);
            this.isUploading = true;
            return true;
          }
        }
      },
      handleError(error, file, fileList) {
        this.isUploading = false;
        if (error.status == 401) {
          window.localStorage.removeItem('userInfo');
          this.$router.replace({
            path: '/login',
            query: {redirect: this.$router.currentRoute.fullPath}//登录成功后跳入浏览的当前页面
          });
        } else {
          if (JSON.parse(error.data).message) {
            this.uploadMsg = {
              active: true,
              msg: JSON.parse(error.data).message
            };
          } else {
            this.uploadMsg = {
              active: true,
              msg: 'Upload Error'
            };
          }

        }
      },
      // change dispatchDate
      changeDDate(time) {
        this.shipmentFormData.dispatchDate = time;
      },
      changeEta(time) {
        this.shipmentFormData.eta = time;
      },
      changeInvoiceDate(time) {
        this.shipmentFormData.invoiceDate = time;
      }
    },
    watch: {
      shipmentForm: function (val) {
        if (this.shipAction == 'edit') {
          this.shipmentFormData = val;
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '../assets/sass/mixin.scss';

  .shipment-form {
    text-align: left;
  }

  .invoice-wrapper {
    @include fj(flex-start);
    min-height: 80px;
  }

  .invoice-attachment {
    width: 80px;
    margin-right: 10px;
    .loading-body {
      width: 100%;
      height: 100%;
      min-height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .invoice-attachment-file {
    @include fj;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    img {
      margin: 0 auto;
      width: 58px;
      height: 58px;
    }
    .invoice-attachment-icons {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0;
      color: #fff;
      left: 0;
      top: 0;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.6);
      .icon {
        margin: 0 auto;
        font-size: 25px;
        font-weight: bold;
        cursor: pointer;
      }
    }
    &:hover {
      .invoice-attachment-icons {
        @include fj;
        justify-content: space-around;
      }
    }
  }

  .invoice-attachment-name {
    overflow: hidden;
    width: 100%;
    padding: 0 !important;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    font-size: 12px;
    text-align: center;
  }

  .upload-wrapper {
    margin-top: 10px;
  }

  .demo-spin-icon-load {
    animation: ani-demo-spin 1s linear infinite;
  }

  @keyframes ani-demo-spin {
    from {
      transform: rotate(0deg);
    }
    50% {
      transform: rotate(180deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>

