<template>
  <Menu mode="horizontal" theme="light" :active-name="cueMenuProps.activeName" @on-select="goToPath" class="page-top-menu">
    <MenuItem name="3-1" class="bold">
      <Icon type="md-time" />
      Wait to confirm
    </MenuItem>
    <MenuItem name="3-2" class="bold">
      <Icon type="md-checkmark-circle-outline" />
      Confirmed
    </MenuItem>
    <MenuItem name="3-3" class="bold">
      <Icon type="md-time" />
      Wait to ship(Warehouse)
    </MenuItem>
    <MenuItem name="3-4" class="bold" v-if="dropShippingSupplier">
      <Icon type="md-time" />
      Wait to ship(Customer)
    </MenuItem>
    <MenuItem name="3-5" class="bold">
      <Icon type="ios-plane" />
      Shipped
    </MenuItem>
  </Menu>
</template>

<script>
  import { siderMenu } from '@/components/mixin';
  export default {
    name: 'topMenu',
    mixins: [ siderMenu ],
    data () {
      return {}
    },
    computed: {
      dropShippingSupplier () {
        return this.$store.getters.dropShippingSupplier;
      }
    },
    created() {
      this.cueMenuProps = siderMenu.methods.curMenuSelected(this.$route);
    },
    methods: {
    }
  }
</script>

<style lang="scss" scoped>
  @import '../assets/sass/mixin';

  .page-top-menu .ivu-icon {
    font-size: 17px;
  }
  .bold {
    font-weight: bold;
  }
</style>
