<template>
  <div class="wrapper">
    <Form ref="accountSet"  :model="accountSet" :rules="ruleCustom" :label-width="180" show-message autocomplete="on" class="account-set-form" label-position="left">
      <FormItem label="New Password" prop="newPassword">
        <Input type="password" v-model="accountSet.newPassword" placeholder="New Password" @on-change="formChange"></Input>
      </FormItem>
      <FormItem label="Confirm New password" prop="confirmNewPassword">
        <Input type="password" v-model="accountSet.confirmNewPassword" placeholder="Confirm New password" @on-change="formChange"></Input>
      </FormItem>
      <FormItem label="Code"  prop="captcha">
        <div class="code-wrapper">
          <Input type="text" v-model="accountSet.captcha" placeholder="Code" class="input" style="width: 130px" @on-change="formChange"></Input>
          <div class="captcha-wrapper">
            <img :src="captchaImgCode" alt="code">
            <Spin fix v-if="spinShow" class="captcha-spin"></Spin>
          </div>
          <span @click="getCaptchaFunc" class="get-captcha-code">Change one</span>
        </div>
      </FormItem>
      <Alert type="error" show-icon v-if="accountSetFailMsg">
        <span slot="desc">
            {{accountSetFailMsg}}
        </span>
      </Alert>
      <FormItem class="account-set-btns">
        <Button type="primary" @click="handleSubmit('accountSet')" class="login-btn" :disabled="buttonDisabled.confirm">Confirm</Button>
        <Button type="default" @click="handleReset('accountSet')" class="login-btn" style="margin-left: 10px;" :disabled="buttonDisabled.reset">Reset</Button>
      </FormItem>
    </Form>
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex';
  import { passwordReset, getCaptcha } from '@/api/index';
  import { getmd5 } from '@/components/mixin';
  export default {
    name: 'AccountSet',
    mixins: [ getmd5 ],
    data () {
      const validatePassword = (rule, value, callback) => {
        if (value == '') {
          callback(new Error('Please enter your password'));
        } else {
          callback();
        }
      };
      const validateConfirmPassword = (rule, value, callback) => {
        if (value == '') {
          return callback(new Error('Name cannot be empty'));
        } else if (value !== this.accountSet.newPassword) {
          return callback(new Error('The values are not equal'));
        } else {
          callback();
        }
      };
      const validateCaptcha = (rule, value, callback) => {
        if (value == '') {
          callback(new Error('Please enter your verification code'));
        } else {
          callback();
        }
      };
      return {
        accountSet: {
          newPassword: '',
          confirmNewPassword: '',
          captcha: ''
        },
        captchaImgCode: '',
        ruleCustom: {
          newPassword: [
            { required: true, validator: validatePassword, trigger: 'blur' }
          ],
          confirmNewPassword: [
            { required: true, validator: validateConfirmPassword, trigger: 'blur' }
          ],
          captcha: [
            { required: true, validator: validateCaptcha, trigger: 'blur' }
          ]
        },
        accountSetFailMsg: '',
        accountSetSuccessfulMsg: '',
        spinShow: false,
        buttonDisabled: {
          confirm: false,
          reset: false
        }
      }
    },
    created () {
      this.getCaptchaFunc();
    },
    computed: {
      ...mapState({
        userInfo (state) {
          return state.userInfo;
        }
      })
    },
    methods: {
      ...mapActions(['logOut']),
      getCaptchaFunc () {
        this.spinShow = true;
        getCaptcha().then(res => {
          this.captchaImgCode = res.data.message;
          this.spinShow = false;
        }).catch(err => {
          this.captchaImgCode = '';
          this.spinShow = false;
        });
      },
      formChange () {
        this.accountSetFailMsg = '';
      },
      handleSubmit (form) {
        this.$refs[form].validate((valid) => {
          if (valid) {
            this.buttonDisabled.confirm = true;
            this.buttonDisabled.reset = true;
            passwordReset(this.$store.state.userInfo.userName, this.getmd5(this.accountSet.newPassword), this.accountSet.captcha).then(res => {
              let resData = res.data;
              if (resData.status == 0) {
                this.accountSetFailMsg = resData.message;
                this.accountSet.captcha = null;
                this.getCaptchaFunc();
                this.buttonDisabled.confirm = false;
                this.buttonDisabled.reset = false;
                return false;
              } else if (resData.status == 1) {
                this.$Message.success('Success!');
                this.logOut();
                this.$router.push('/login');
              }
            }).catch(() => {
              this.buttonDisabled.confirm = true;
              this.buttonDisabled.reset = true;
              this.accountSetFailMsg = 'Fail! Try Again!';
            });
          }
        });
      },
      handleReset (form) {
        this.$refs[form].resetFields();
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../../assets/sass/mixin';
  .wrapper {
    text-align: left;
  }
  .account-set-form {
    display: inline-block;
    width: 80%;
    min-width: 400px;
    max-width: 550px;
    margin: 0 auto;
    padding-top: 20px;
    clear: both;
  }
  .account-set-btns {
    text-align: left;
  }
  .code-wrapper {
    @include fj(flex-start);
  }
  .get-captcha-code {
    margin-left: 10px;
    text-decoration: underline;
    cursor: pointer;
  }

  .captcha-wrapper {
    margin-left: 10px;
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
  }
</style>
