<template>
  <transition name="router-slid" mode="out-in">
    <router-view></router-view>
  </transition>
</template>

<script>
    export default {
        name: "shippedIndex"
    }
</script>

<style scoped>

</style>
