<template>
  <div class="shipped-wrapper">
    <topMenu></topMenu>
    <section class="shipped-tab-btn-group" v-if="dropShippingSupplier">
      <RadioGroup type="button" v-model="shippedType" @on-change="changeShippedType">
        <Radio label="View Warehouse Shipped"></Radio>
        <Radio label="View Customer Shipped"></Radio>
      </RadioGroup>
    </section>

    <section class="data-operates data-operates-top">
      <Form ref="filterForm" :model="filterForm" :label-width="120">
        <div class="input-group">
          <FormItem label="Status" prop="status" class="item-status">
            <CheckboxGroup v-model="filterForm.status">
              <Checkbox v-for="item in statusList" :label="item.status_key" :key="item.status_key">
                <span>{{item.status_value}}</span>
              </Checkbox>
            </CheckboxGroup>
          </FormItem>
        </div>
        <div class="input-group">
          <FormItem label="Create Date" class="item">
            <DatePicker type="datetimerange" format="yyyy-MM-dd"
                        placeholder="From: YYYY-MM-DD   To: YYYY-MM-DD" style="width: 300px" transfer
                        :editable="datePickerEditable"
                        @on-change="setCreateDate"
                        :options="setDisabledDate"
                        :value="filterForm.createDate"
            ></DatePicker>
          </FormItem>
          <FormItem label="Shipment#" prop="shipmentNumber" class="item">
            <Input v-model="filterForm.shipmentNumber" placeholder="Enter something..."></Input>
          </FormItem>
          <FormItem label="Tracking No." prop="trackingNumber" class="item">
            <Input v-model="filterForm.trackingNumber" placeholder="Enter something..."></Input>
          </FormItem>
        </div>

        <FormItem>
          <Button type="primary" size="large" @click="formSubmit">Go</Button>
          <Button size="large" style="margin-left: 8px" @click="formReset">Reset</Button>
        </FormItem>
      </Form>
    </section>
    <section class="customer-shipped-invoice" v-show="shippedType == 'View Customer Shipped'">
      <Button type="primary" size="large" @click="toCreateInvoice" :disabled="createDisabled">Create Invoice</Button>
      <Button type="primary" size="large" :to="{name: 'invoiceIndex', params: {type: $route.params.type}}">View
        Invoice
      </Button>
    </section>
    <section class="pagination-wrapper clearfix">
      <div class="cnt-left">
        <Page :total="totalItems" :current="filterForm.page" :page-size="filterForm.perPage"
              :page-size-opts="pageSizeOpts" show-sizer
              @on-change="changePage" @on-page-size-change="changePageSize"></Page>
      </div>
      <div class="cnt-right">
        <p class="items-remain" v-show="shippedData">Results <span>{{totalItems}}</span></p>
      </div>

      <section class="table-size">
        <div class="table-size-cnt">
          Table size
          <Radio-group v-model="tableSize" type="button">
            <Radio label="large">large</Radio>
            <Radio label="default">medium(default)</Radio>
            <Radio label="small">small</Radio>
          </Radio-group>
        </div>
      </section>
    </section>
    <section class="data-list" v-if="shippedType == 'View Warehouse Shipped'">
      <Table border no-data-text :size="tableSize" :loading="tableDataloading" ref="waitToShipWarehouse"
             :columns="warehouseTableColumns" :data="shippedData" v-if="!notableDataTip.active"></Table>
      <div v-else>
        <Alert type="warning" class="no-data-alter">
          A warning prompt
          <template slot="desc">
            {{notableDataTip.msg}}
          </template>
        </Alert>
      </div>
    </section>
    <section class="data-list" v-else>
      <Table border no-data-text :size="tableSize" :loading="tableDataloading" ref="waitToShipCustomer"
             :columns="customerTableColumns" :data="shippedData" v-if="!notableDataTip.active"
             @on-select="addSelectedItem"
             @on-selection-change="changeSelectedItem"
             @on-select-all="addSelectedItem"
      ></Table>
      <div v-else>
        <Alert type="warning" class="no-data-alter">
          A warning prompt
          <template slot="desc">
            {{notableDataTip.msg}}
          </template>
        </Alert>
      </div>
    </section>
    <section class="pagination-wrapper clearfix">
      <div class="cnt-left">
        <Page :total="totalItems" :current="filterForm.page" :page-size="filterForm.perPage"
              :page-size-opts="pageSizeOpts" show-sizer
              @on-change="changePage" @on-page-size-change="changePageSize"></Page>
      </div>
      <div class="cnt-right">
        <p class="items-remain" v-show="shippedData">Results <span>{{totalItems}}</span></p>
      </div>
    </section>
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex';
  import {modalInstance} from '@/components/mixin';
  import {getSupplierPO, searchShippedItems} from '@/api/index';
  import topMenu from '../../../../components/topMenu';

  export default {
    name: 'Shipped',
    mixins: [modalInstance],
    components: {
      topMenu
    },
    data() {
      return {
        setDisabledDate: {
          disabledDate(date) {
            return date > new Date();
          }
        },
        datePickerEditable: false,
        shippedType: this.$route.params.type.replace(/-/g, ' '),
        tableDataloading: true,
        notableDataTip: {
          active: false,
          msg: ''
        },
        tableSize: 'default',
        shippedData: [],
        filterForm: {
          status: [],
          shipmentNumber: '',
          trackingNumber: '',
          createDate: '',
          page: 1,
          perPage: 10
        },
        totalItems: 0,
        pageSizeOpts: [10, 20, 30, 40, 50],
        warehouseTableColumns: [
          {
            title: 'Shipment #',
            align: 'center',
            minWidth: 150,
            fixed: 'left',
            key: 'shipmentNumber'
          },
          {
            title: 'Fulfillment',
            align: 'center',
            width: 100,
            key: 'fulfillment'
          },
          {
            title: 'Create Date',
            align: 'center',
            minWidth: 130,
            key: 'createDate'
          },
          {
            title: 'Tran. Qty',
            align: 'center',
            width: 70,
            key: 'tranQty'
          },
          {
            title: 'Rev. Qty',
            align: 'center',
            width: 70,
            key: 'revQty'
          },
          {
            title: 'Dispatch Date',
            minWidth: 100,
            align: 'center',
            key: 'dispatchDate'
          },
          {
            title: 'ETA',
            minWidth: 95,
            align: 'center',
            key: 'eta'
          },
          {
            title: 'Received Date',
            minWidth: 100,
            align: 'center',
            key: 'receivedDate'
          },
          {
            title: 'Tracking No',
            width: 110,
            align: 'center',
            fixed: 'right',
            key: 'trackingNumber'
          },
          {
            title: 'Status',
            minWidth: 145,
            align: 'left',
            key: 'status',
            fixed: 'right'
          },
          {
            title: 'Action',
            key: 'action',
            width: 160,
            align: 'center',
            fixed: 'right',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'default'
                  },
                  style: {
                    marginRight: '5px',
                  },
                  on: {
                    click: () => {
                      this.editShipment(params.row.shipmentId, params.row.shipmentNumber)
                    }
                  }
                }, 'Edit'),
                h('Button', {
                  props: {
                    type: 'default'
                  },
                  on: {
                    click: () => {
                      this.viewShipment(params.row.shipmentId, params.row.shipmentNumber)
                    }
                  }
                }, 'View')
              ]);
            }
          }
        ],
        customerTableColumns: [
          {
            type: 'selection',
            width: 60,
            align: 'center',
            fixed: 'left'
          },
          {
            title: 'Shipment #',
            align: 'center',
            minWidth: 150,
            fixed: 'left',
            key: 'shipmentNumber'
          },
          {
            title: 'Fulfillment',
            align: 'center',
            width: 100,
            key: 'fulfillment'
          },
          {
            title: 'Create Date',
            align: 'center',
            minWidth: 130,
            key: 'createDate'
          },
          {
            title: 'Tran. Qty',
            align: 'center',
            width: 70,
            key: 'tranQty'
          },
          {
            title: 'Rev. Qty',
            align: 'center',
            width: 70,
            key: 'revQty'
          },
          {
            title: 'Dispatch Date',
            minWidth: 100,
            align: 'center',
            key: 'dispatchDate'
          },
          {
            title: 'Received Date',
            minWidth: 100,
            align: 'center',
            key: 'receivedDate'
          },
          {
            title: 'Tracking No',
            width: 110,
            align: 'center',
            key: 'trackingNo'
          },
          {
            title: 'Status',
            minWidth: 145,
            align: 'left',
            key: 'status'
          },
          {
            title: 'Action',
            key: 'action',
            width: 160,
            align: 'center',
            fixed: 'right',
            render: (h, params) => {
              return h('div', [
                h('Button', {
                  props: {
                    type: 'default'
                  },
                  style: {
                    marginRight: '5px',
                  },
                  on: {
                    click: () => {
                      this.editShipment(params.row.shipmentId, params.row.shipmentNumber)
                    }
                  }
                }, 'Edit'),
                h('Button', {
                  props: {
                    type: 'default'
                  },
                  on: {
                    click: () => {
                      this.viewShipment(params.row.shipmentId, params.row.shipmentNumber)
                    }
                  }
                }, 'View')
              ]);
            }
          }
        ],
        createInvoiceData: [],
        statusList: []
      }
    },
    created() {
      if (this.$route.query) {
        this.setFilter(this.$route.query);
      }
      this.initTableData();
    },
    beforeRouteLeave(to, from, next) {
      if (to.path.indexOf('shipped') < 0) {
        window.localStorage.removeItem('shipmentData');
        window.localStorage.removeItem('invoiceData');
      }
      next();
    },
    computed: {
      createDisabled() {
        if (this.createInvoiceData.length > 0) {
          return false;
        } else {
          return true;
        }
      },
      dropShippingSupplier() {
        return this.$store.getters.dropShippingSupplier;
      },
      ...mapState({
        userInfo(state) {
          return state.userInfo;
        },
        filter(state) {
          return state.filter;
        }
      })
    },
    methods: {
      ...mapActions(['setFilter', 'setInvoiceData']),

      initTableData: function () {

        if (this.filter) {
          for (let item in this.filter) {
            if (typeof this.filterForm[item] !== 'undefined') {
              this.filterForm[item] = this.filter[item];
            } else if (item.indexOf('createDate') >= 0) {
              this.filterForm['createDate'] = [this.filter.createDateFrom, this.filter.createDateTo];
            }
          }
        }

        let filter = this.handleFilterForm();

        this.tableDataloading = true;
        filter.token = this.userInfo.token;
        this.getTableData(filter);
      },
      getTableData(filter) {
        getSupplierPO(this.$route.params.type, filter).then(res => {
          this.$Spin.hide();
          this.$Message.destroy();
          let resObj = res.data.message;
          delete filter.token;
          this.$router.push({name: this.$route.name, query: filter, params: this.$route.params});
          this.setFilter(filter);

          if (res.data.status) {
            this.notableDataTip.active = false;
            this.$Loading.finish();
            this.tableDataloading = false;
            this.shippedData = JSON.parse(JSON.stringify(resObj.poItemList).replace(/createdInvoice/g, '_disabled'));
            this.totalItems = parseInt(resObj.totalNumber);
            this.filterForm.perPage = parseInt(resObj.perPage);
            this.filterForm.page = parseInt(resObj.currentPage);
            resObj.shipmentStatusList ? this.statusList = resObj.shipmentStatusList : null;
            resObj.statusList ? this.statusList = resObj.statusList : null;
            this.$Message.success('Get Shipped Success!');

          } else {
            this.notableDataTip = {
              active: true,
              msg: resObj
            };
            this.tableDataloading = false;
            // this.shippedData = [{
            //   shipmentId: "47323",
            //   shipmentNumber: "Louis(Ship)_20181029_2",
            //   fulfillment: "HK",
            //   createDate: "2018-10-29 10:01:37",
            //   tranQty: "2",
            //   revQty: "2",
            //   dispatchDate: "2018-10-28",
            //   eta: "2018-10-30",
            //   receivedDate: "2018-10-29",
            //   trackingNumber: "1ZY37R91DA94090964",
            //   status: "Shipment Received \u2013 All arrive"
            // }];
            // this.totalItems = 1;
            // this.filterForm.perPage = 10;
            // this.filterForm.page = 1;
            // this.statusList = [
            //   {status_key: "2", status_value: "Shipment Sent"},
            //   {status_key: "3", status_value: "Shipment Received \u2013 All arrive"},
            //   {status_key: "4", status_value: "Shipment Received \u2013 Wrong Item Received"},
            //   {status_key: "5", status_value: "Shipment Received \u2013 Missing Item"}
            //   ];
            this.$Loading.error();
            // this.notableDataTip = {
            //   active: true,
            //   msg: resObj
            // };
            // this.$Message.error('Get Shipped Error!Please try again!');
            // this.totalItems = 0;
          }
        }).catch((err) => {
          console.log(err);
          this.$Loading.error();
          this.notableDataTip = {
            active: true,
            msg: 'Failure! Please contact with MG IT team!'
          };
        });
      },
      handleFilterForm() {
        let filter = {};
        for (let item in this.filterForm) {
          if (this.filterForm[item] && item.indexOf('Date') < 0) {
            filter[item] = this.filterForm[item];
          } else if (this.filterForm[item] && item.indexOf('Date') >= 0) {
            if (this.filterForm[item][0] && this.filterForm[item][1]) {
              filter[item + 'From'] = this.filterForm[item][0];
              filter[item + 'To'] = this.filterForm[item][1];
            }
          }
        }
        if (filter.status.length == 0) {
          delete filter.status;
        }
        return filter;
      },
      formSubmit: function () {
        let filter = this.handleFilterForm();

        filter.page = 1;
        filter.token = this.userInfo.token;
        this.$Spin.show();
        this.getTableData(filter);
      },
      formReset: function () {
        this.filterForm = {
          status: [],
          shipmentNumber: '',
          trackingNumber: '',
          createDate: '',
          page: this.filterForm.page,
          perPage: this.filterForm.perPage
        };
      },
      editShipment(shipmentId, shipment) {
        let routeName = 'Edit ' + this.shippedType.split(' ')[1] + ' Shipment';
        this.$router.push({
          name: routeName,
          query: {shipmentId: shipmentId, shipment: shipment},
          params: {type: this.shippedType.replace(/ /g, '-')}
        });
      },
      viewShipment(shipmentId, shipment) {
        let routeName = this.shippedType.split(' ')[1] + ' Shipment Detail';
        this.$router.push({
          name: routeName,
          params: {type: this.shippedType.replace(/ /g, '-')},
          query: {shipmentId: shipmentId, shipment: shipment}
        })
      },
      changePage(page) {
        this.filterForm.page = page;
        let filter = this.handleFilterForm();
        filter.token = this.userInfo.token;
        this.getTableData(filter);
      },
      changePageSize(pageSize) {
        this.filterForm.perPage = pageSize;
        let filter = this.handleFilterForm();
        filter.token = this.userInfo.token;
        this.getTableData(filter);
      },
      changeShippedType(value) {
        this.shippedType = value;
        this.$router.push({name: this.$route.name, params: {type: value.replace(/ /g, '-')}, query: this.$route.query});
        this.formReset();
        this.initTableData();
      },
      addSelectedItem(selection) {
        this.createInvoiceData = selection;
      },
      changeSelectedItem(selection) {
        this.createInvoiceData = selection;
      },
      toCreateInvoice() {
        if (this.createInvoiceData.length) {
          let shipmentIdList = [];
          this.createInvoiceData.forEach(item => {
            shipmentIdList.push(item.shipmentId);
          });
          this.setInvoiceData({
            invoiceNo: '',
            invoiceDate: null,
            attachment: {
              folderName: null,
              fileList: []
            },
            shipmentIdList: shipmentIdList
          });
          this.$router.push({name: 'Create Invoice', params: {type: this.$route.params.type}});
        } else {
          this.modalInstance('warning', 'warning', 'Please select item !');
        }
      },
      setCreateDate(e) {
        this.filterForm.createDate = e;
      }
    },
    watch: {}
  }
</script>

<style lang="scss" scoped>
  @import '../../../../assets/sass/mixin';

  .input-group {
    display: flex;
    flex-wrap: wrap;
    .item {
      flex: 0 0 25%;
      margin-bottom: 15px;
    }
    .item-status {
      width: 100%;
      margin-bottom: 15px;
    }
  }

  .shipped-tab-btn-group {
    @include fj(flex-start);
    margin-top: 20px;
    .item {
      margin-right: 10px;
    }
  }

  .table-size-cnt {
    padding-left: 50px;
  }

  .data-operates-top {
    padding-bottom: 0;
  }

  .customer-shipped-invoice {
    text-align: left;
    button:first-child {
      margin-right: 10px;
    }
  }

  .shipped-tab-btn-group {
    label {
      padding: 10px 15px;
      height: auto;
      line-height: 1;
      font-size: 14px;
      border: solid 1px #dcdee2;
      border-radius: 4px !important;
    }
    .ivu-radio-group-button .ivu-radio-wrapper:before,
    .ivu-radio-group-button .ivu-radio-wrapper:after {
      display: none;
    }

    label:hover {
      border: solid 1px #2d8cf0;
    }

    label:first-child {
      margin-right: 10px;
    }
    .ivu-radio-group-button .ivu-radio-wrapper-checked {
      background: #2d8cf0;
      color: #fff;
      box-shadow: none;
    }
  }
</style>
