<template>
  <div class="shipment-wrapper">
    <section class="section-title">
      <h3>Shiped Items Preview</h3>
    </section>
    <section class="table-size">
      <div class="table-size-cnt">
        Table size
        <Radio-group v-model="tableSize" type="button">
          <Radio label="large">large</Radio>
          <Radio label="default">medium(default)</Radio>
          <Radio label="small">small</Radio>
        </Radio-group>
      </div>
    </section>
    <section class="data-list">
      <Table border no-data-text :size="tableSize" :loading="tableDataloading" ref="waitToConfirm"
             :columns="tableColumns" :data="createShipTableData" v-if="createShipTableData"></Table>
      <div v-show="notableDataTip">
        <Alert type="warning" class="no-data-alter">
          A warning prompt
          <template slot="desc">
            No data for wait to ship!!
          </template>
        </Alert>
      </div>
    </section>
    <ShipmentForm :shipmentList="createShipData" :shipmentForm="shipmentForm" :shipAction="shipAction"></ShipmentForm>
  </div>
</template>

<script>
  import {mapState, mapMutations, mapActions} from 'vuex';
  import ShipmentForm from '@/components/ShipmentForm.vue';

  export default {
    name: 'WaitToShipCreateShipment',
    components: {ShipmentForm},
    data() {
      return {
        shipAction: 'create',
        tableDataloading: true,
        notableDataTip: false,
        tableSize: 'default',
        confirmBtnDisable: true,
        shipmentForm: {
          fulfillment: 'HK',
          supplierCourier: '',
          dispatchDate: '',
          eta: '',
          trackingNo: '',
          shippingFee: '',
          invoiceNo: '',
          invoiceDate: '',
          invoiceAttachment: {
            folderName: null,
            fileList: []
          },
          notes: ''
        },
        createShipData: [],
        tableColumns: [
          {
            title: 'Tag',
            align: 'center',
            width: 90,
            fixed: 'left',
            key: 'tag'
          },
          {
            title: 'UPC',
            align: 'center',
            minWidth: 125,
            fixed: 'left',
            key: 'upc'
          },
          {
            title: 'From PO',
            align: 'center',
            minWidth: 150,
            key: 'fromPO'
          },
          {
            title: 'Category',
            align: 'center',
            width: 160,
            key: 'category'
          },
          {
            title: 'Brand',
            align: 'center',
            minWidth: 130,
            key: 'brand'
          },
          {
            title: 'Product Code',
            width: 85,
            align: 'center',
            key: 'productCode'
          },
          {
            title: 'Product Name',
            minWidth: 185,
            key: 'productName'
          },
          {
            title: 'Colour Code',
            width: 80,
            align: 'center',
            key: 'colourCode'
          },
          {
            title: 'Size',
            width: 65,
            align: 'center',
            key: 'size'
          },
          {
            title: 'Order QTY',
            width: 70,
            align: 'center',
            key: 'orderQty'
          },
          {
            title: 'Exp. QTY',
            width: 70,
            align: 'center',
            key: 'expQty'
          },
          {
            title: 'Unit Price',
            align: 'center',
            width: 110,
            key: 'unitPrice',
            render: (h, params) => {
              let unitPrice;
              return h('span', {
                domProps: {
                  innerHTML: params.row.unitPrice ? this.userInfo.currencyUnit +  (unitPrice = parseFloat(params.row.unitPrice).toFixed(2)): ''
                }
              })
            }
          },
          {
            title: 'Discount',
            align: 'center',
            width: 110,
            key: 'discount',
            render: (h, params) => {
              return h('span', {
                domProps: {
                  innerHTML: params.row.discount ? params.row.discount * 100 + '%' : ''
                }
              })
            }
          },
          {
            title: 'Special Discount',
            align: 'center',
            minWidth: 150,
            key: 'specialDiscount',
            render: (h, params) => {
              return h('span', {
                domProps: {
                  innerHTML: params.row.specialDiscount ? params.row.specialDiscount * 100 + '%' : ''
                }
              })
            }
          },
          {
            title: 'Net Price',
            width: 90,
            align: 'center',
            key: 'netPrice',
            render: (h, params) => {
              let netPrice;
              return h('span', {
                domProps: {
                  innerHTML: this.userInfo.currencyUnit + (netPrice = parseFloat(params.row.netPrice).toFixed(2))
                }
              })
            }
          },
          {
            title: 'Total Price',
            width: 100,
            align: 'center',
            key: 'totalPrice',
            render: (h, params) => {
              let totalPrice;
              return h('span', {
                domProps: {
                  innerHTML: this.userInfo.currencyUnit + (totalPrice = parseFloat(params.row.totalPrice).toFixed(2))
                }
              })
            }
          }
        ],
        createShipTableData: []
      }
    },
    computed: {
      ...mapState({
        createShipmentData(state) {
          if (!Object.keys(state.createShipmentData).length) {
            this.$store.dispatch('getCreateShipmentData');
          }
          return state.createShipmentData;
        },
        userInfo(state) {
          return state.userInfo;
        }
      }),
    },
    created() {
      this.initData();
    },
    methods: {
      ...mapActions(['getCreateShipmentData']),
      initData() {
        const createShipmentData = this.createShipmentData;
        let createShipmentListLen = createShipmentData.shipmentItemInfo ? createShipmentData.shipmentItemInfo.length : 0;
        if (createShipmentListLen > 0) {
          this.tableDataloading = false;
          this.createShipData = createShipmentData.shipmentItemInfo;
          this.createShipTableData = JSON.parse(JSON.stringify(this.createShipData));
          let orderQty = 0, expQty = 0, netPrice = 0, totalPrice = 0;
          let alreadyHasTotalObj = this.createShipTableData.some(function (item) {
            return item.tag == 'Total';
          });
          if (alreadyHasTotalObj) {
            return;
          }
          this.createShipTableData.forEach(item => {
            let orderQTYValue = parseInt(item.orderQty), ExpQTYValue = parseInt(item.expQty);
            let netPriceValue = parseFloat(item.netPrice);
            let totalPriceValue = parseFloat(item.totalPrice);
            orderQty += orderQTYValue;
            expQty += ExpQTYValue;
            netPrice += netPriceValue;
            totalPrice += totalPriceValue;
          });
          netPrice = netPrice.toFixed(2);
          totalPrice = totalPrice.toFixed(2);
          let totalObj = {
            tag: 'Total',
            orderQty: orderQty,
            expQty: expQty,
            netPrice: netPrice,
            totalPrice: totalPrice
          };
          this.createShipTableData[createShipmentListLen] = totalObj;
        } else {
          this.notableDataTip = true;
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
</style>
