<template>
  <div class="wrapper">
    <topMenu></topMenu>
    <Form ref="filterForm" :model="filterForm" :label-width="120" class="form-group">
      <div class="form-items-group">
        <FormItem label="Tag" prop="tag" class="item">
          <Input v-model="filterForm.tag" placeholder="Enter something..."></Input>
        </FormItem>
        <FormItem label="UPC" prop="upc" class="item">
          <Input v-model="filterForm.upc" placeholder="Enter something..."></Input>
        </FormItem>
        <FormItem label="From PO" prop="poNumber" class="item">
          <Input v-model="filterForm.poNumber" placeholder="Enter something..."></Input>
        </FormItem>
      </div>
      <div class="form-items-group">
        <FormItem label="Confirmed Date" class="item">
          <DatePicker type="datetimerange"
                      format="yyyy-MM-dd" placeholder="From: YYYY-MM-DD   To: YYYY-MM-DD"
                      style="width: 300px"
                      transfer
                      clearable
                      :editable="datePickerEditable"
                      @on-change="setConfirmedDate"
                      :options="setDisabledDate"
                      :value="filterForm.confirmedDate"
          ></DatePicker>
        </FormItem>
        <div class="btn-group">
          <Button type="primary" size="large" @click="formSubmit">Go</Button>
          <Button size="large" style="margin-left: 8px" @click="formReset('filterForm')">Reset</Button>
        </div>
      </div>
    </Form>

    <section class="data-operates data-operates-top">
      <div class="data-operates-group">
        <p>Create Manully:</p>
        <Button type="primary" size="large" :disabled="confirmBtnDisable" @click="createShipment('manually')"
                class="item">Create
          Shipment
        </Button>
      </div>
      <div class="data-operates-group">
        <p>Create by Excel:</p>
        <Button size="large" shape="circle" type="primary" @click="exportSelectedItemsFunc" class="item">Export Selected
          Items
        </Button>
        <Button size="large" shape="circle" type="primary" @click="importItemsModal = true;uploadPrompt.active = false"
                class="item">Import
          Shipment
        </Button>
      </div>
    </section>
    <section class="table-size">
      <div class="table-size-cnt">
        Table size
        <Radio-group v-model="tableSize" type="button">
          <Radio label="large">large</Radio>
          <Radio label="default">medium(default)</Radio>
          <Radio label="small">small</Radio>
        </Radio-group>
      </div>
      <p class="items-remain" v-show="waitToShipData"><span class="item-num">{{ waitToShipData.length }}</span> Items
        Remain</p>
    </section>
    <section class="data-list">
      <Table border no-data-text :size="tableSize" :loading="tableDataloading" ref="waitToConfirm"
             :columns="tableColumns" :data="waitToShipData"
             @on-select="addSelectedItem" @on-select-cancel="removeSelectedItem"
             @on-selection-change="allSelectedOperate" v-if="!notableDataTip.active">
      </Table>
      <div v-show="notableDataTip.active">
        <Alert type="warning" class="no-data-alter">
          A warning prompt
          <template slot="desc">
            {{notableDataTip.msg}}
          </template>
        </Alert>
      </div>
    </section>

    <Modal v-model="importItemsModal" width="360">
      <p slot="header" style="color:#f60;text-align:center">
        <Icon type="ios-information-circle"></Icon>
        <span>Import Item Confirmation Excel File</span>
      </p>
      <div style="text-align:center">
        <Upload
          ref="excelFileUploadForm"
          type="drag"
          :format="['xlsx']"
          :on-format-error="handleFormatError"
          :data="uploadData"
          action="/portal-api/import-wait-to-ship-po-list"
          :accept="'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel'"
          :before-upload="fileBeforeUpload"
          :on-success="fileUploadSuccess"
          :on-error="fileUploadError"
          :on-progress="fileUploadProgress">
          <div style="padding: 20px 0">
            <Icon type="ios-cloud-upload" size="52" style="color: #3399ff"></Icon>
            <p>Click or drag files here to upload</p>
          </div>
        </Upload>
        <Alert type="error" v-show="uploadPrompt.active" show-icon><p
          style="word-break:normal;white-space:pre-wrap;word-wrap:break-word;">{{uploadPrompt.msg}}</p></Alert>
      </div>
      <div slot="footer"></div>
    </Modal>

    <transition name="router-slid" mode="out-in">
      <router-view></router-view>
    </transition>
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex';
  import {modalInstance} from '@/components/mixin';
  import {
    getSupplierPO,
    waitToShipExcelExport,
    preCheckWaitToShip,
    exportExcel
  } from '@/api/index';
  import topMenu from '@/components/topMenu';
  import qs from 'qs';

  export default {
    name: 'WaitToShipWh',
    mixins: [modalInstance],
    components: {
      topMenu
    },
    data() {
      return {
        setDisabledDate: {
          disabledDate(date) {
            return date > new Date();
          }
        },
        datePickerEditable: false,
        tableDataloading: true,
        notableDataTip: {
          active: false,
          msg: ''
        },
        tableSize: 'default',
        waitToShipData: [],
        exportSelectedItems: [],
        importItemsModal: false,
        uploadExcelResponseData: [],
        filterForm: {
          tag: '',
          upc: '',
          poNumber: '',
          confirmedDate: []
        },
        confirmBtnDisable: true,
        tableColumns: [
          {
            type: 'selection',
            width: 60,
            align: 'center',
            fixed: 'left'
          },
          {
            title: 'Tag',
            align: 'center',
            width: 90,
            fixed: 'left',
            key: 'tag'
          },
          {
            title: 'UPC',
            align: 'center',
            minWidth: 125,
            fixed: 'left',
            key: 'upc'
          },
          {
            title: 'From PO',
            align: 'center',
            minWidth: 150,
            key: 'fromPO'
          },
          {
            title: 'Confirmed Date',
            align: 'center',
            minWidth: 150,
            key: 'confirmedDate'
          },
          {
            title: 'Category',
            align: 'center',
            width: 160,
            key: 'category'
          },
          {
            title: 'Brand',
            align: 'center',
            minWidth: 130,
            key: 'brand'
          },
          {
            title: 'Product Code',
            width: 85,
            align: 'center',
            key: 'productCode'
          },
          {
            title: 'Product Name',
            minWidth: 185,
            key: 'productName'
          },
          {
            title: 'Colour Code',
            width: 80,
            align: 'center',
            key: 'colourCode'
          },
          {
            title: 'Size',
            width: 65,
            align: 'center',
            key: 'size'
          },
          {
            title: 'Order QTY',
            width: 70,
            align: 'center',
            key: 'orderQty'
          },
          {
            title: 'Exp. QTY',
            width: 70,
            align: 'center',
            key: 'expQty'
          },
          {
            title: 'Unit Price',
            align: 'center',
            width: 140,
            key: 'unitPrice',
            render: (h, params) => {
              return h('div', {
                style: {
                  display: 'flex',
                  'align-items': 'center'
                }
              }, [
                h('span', {
                  style: {
                    'background-color': '#f8f8f9',
                    border: '1px solid #dcdee2',
                    'border-radius': '4px',
                    'border-top-right-radius': 0,
                    'border-bottom-right-radius': 0,
                    'border-right': 0,
                    color: '#515a6e',
                    padding: '4px 7px'
                  },
                  domProps: {
                    innerHTML: this.userInfo.currencyUnit
                  }
                }),
                h('input', {
                  domProps: {
                    type: 'text',
                    placeholder: 'Unit Price',
                    value: params.row.unitPrice
                  },
                  style: {
                    width: '100%',
                    lineHeight: '26px',
                    textAlign: 'center',
                    outline: 'none',
                    border: '1px solid #dcdee2',
                    'border-radius': '4px',
                    'border-top-left-radius': 0,
                    'border-bottom-left-radius': 0
                  },
                  on: {
                    blur: (e) => {
                      let inputValue = e.target.value;
                      if (inputValue && inputValue != params.row.unitPrice) {
                        // let currencyUnit = this.$store.state.userInfo.currencyUnit;
                        params.row._checked = true;
                        this.confirmBtnDisable = false;
                        let calcPriceResultObj = this.calcPrice(inputValue, params.row.discount, params.row.specialDiscount, params.row.expQty);
                        params.row.netPrice = calcPriceResultObj.netPrice ? calcPriceResultObj.netPrice : '';
                        params.row.totalPrice = calcPriceResultObj.totalPrice ? calcPriceResultObj.totalPrice : '';
                        params.row.unitPrice = calcPriceResultObj.unitPrice ? calcPriceResultObj.unitPrice : '';
                        if (!calcPriceResultObj.netPrice) {
                          params.row.unitPrice = '';
                        }
                        this.waitToShipData.splice(params.index, 1, params.row);
                      } else if (inputValue == '') {
                        params.row.netPrice = null;
                        params.row.totalPrice = null;
                      }
                    }
                  }
                })
              ])
            }
          },
          {
            title: 'Discount',
            align: 'center',
            width: 140,
            key: 'discount',
            render: (h, params) => {
              return h('div', {
                style: {
                  display: 'flex',
                  'align-items': 'center'
                }
              }, [
                h('input', {
                  domProps: {
                    type: 'text',
                    placeholder: 'Discount',
                    value: params.row.discount ? parseFloat(params.row.discount) : 0
                  },
                  style: {
                    width: '100%',
                    lineHeight: '26px',
                    textAlign: 'center',
                    outline: 'none',
                    border: '1px solid #dcdee2',
                    'border-radius': '4px',
                    'border-top-right-radius': 0,
                    'border-bottom-right-radius': 0
                  },
                  on: {
                    blur: (e) => {
                      if (e.target.value != params.row.discount) {
                        params.row.discount = parseFloat(e.target.value);
                        let calcPriceResultObj = this.calcPrice(params.row.unitPrice, params.row.discount, params.row.specialDiscount, params.row.expQty);
                        params.row.netPrice = calcPriceResultObj.netPrice ? calcPriceResultObj.netPrice : '';
                        params.row.totalPrice = calcPriceResultObj.totalPrice ? calcPriceResultObj.totalPrice : '';
                        this.waitToShipData.splice(params.index, 1, params.row);
                      }
                    }
                  }
                }),
                h('span', {
                  style: {
                    'background-color': '#f8f8f9',
                    border: '1px solid #dcdee2',
                    'border-radius': '4px',
                    'border-top-left-radius': 0,
                    'border-bottom-left-radius': 0,
                    'border-left': 0,
                    color: '#515a6e',
                    padding: '4px 7px'
                  },
                  domProps: {
                    innerHTML: '%'
                  }
                }),
              ])
            }
          },
          {
            title: 'Special Discount',
            align: 'center',
            minWidth: 140,
            key: 'specialDiscount',
            render: (h, params) => {
              return h('div', {
                style: {
                  display: 'flex',
                  'align-items': 'center'
                }
              }, [
                h('input', {
                  domProps: {
                    type: 'text',
                    placeholder: 'Special Discount',
                    value: params.row.specialDiscount ? parseFloat(params.row.specialDiscount) : 0
                  },
                  style: {
                    width: '100%',
                    lineHeight: '25px',
                    textAlign: 'center',
                    outline: 'none',
                    border: '1px solid #dcdee2',
                    'border-radius': '4px',
                    'border-top-right-radius': 0,
                    'border-bottom-right-radius': 0
                  },
                  on: {
                    blur: (e) => {
                      if (e.target.value !== params.row.specialDiscount) {
                        params.row.specialDiscount = parseFloat(e.target.value);
                        let calcPriceResultObj = this.calcPrice(params.row.unitPrice, params.row.discount, params.row.specialDiscount, params.row.expQty);
                        params.row.netPrice = calcPriceResultObj.netPrice ? calcPriceResultObj.netPrice : '';
                        params.row.totalPrice = calcPriceResultObj.totalPrice ? calcPriceResultObj.totalPrice : '';
                      }
                      this.waitToShipData.splice(params.index, 1, params.row);
                    }
                  }
                }),
                h('span', {
                  style: {
                    'background-color': '#f8f8f9',
                    border: '1px solid #dcdee2',
                    'border-radius': '4px',
                    'border-top-left-radius': 0,
                    'border-bottom-left-radius': 0,
                    'border-left': 0,
                    color: '#515a6e',
                    padding: '4px 7px'
                  },
                  domProps: {
                    innerHTML: '%'
                  }
                })
              ])
            }
          },
          {
            title: 'Net Price',
            width: 90,
            align: 'center',
            render: (h, params) => {
              return h('div', {}, [
                h('span', {
                  domProps: {
                    innerHTML: params.row.netPrice ? this.userInfo.currencyUnit : null
                  }
                }),
                h('span', {
                  domProps: {
                    innerHTML: params.row.netPrice ? params.row.netPrice : null
                  }
                })
              ])
            }
          },
          {
            title: 'Total Price',
            width: 100,
            align: 'center',
            render: (h, params) => {
              return h('div', {}, [
                h('span', {
                  domProps: {
                    innerHTML: params.row.totalPrice? this.userInfo.currencyUnit  : null
                  }
                }),
                h('span', {
                  domProps: {
                    innerHTML: params.row.totalPrice ? params.row.totalPrice : null
                  }
                })
              ])
            }
          }
        ],
        uploadData: {
          token: null
        },
        uploadPrompt: {
          msg: '',
          active: false
        }
      }
    },
    computed: {
      ...mapState({
        userInfo(state) {
          return state.userInfo;
        },
        filter(state) {
          return state.filter
        }
      })
    },
    created() {
      if (this.$route.query) {
        this.setFilter(this.$route.query);
      }
      this.initTableData();
    },
    methods: {
      ...mapActions(['setCreateShipmentData', 'setFilter']),
      initTableData: function () {
        if (this.filter) {
          for (let item in this.filter) {
            if (typeof this.filterForm[item] !== 'undefined') {
              this.filterForm[item] = this.filter[item];
            } else if (item.indexOf('confirmedDate') >= 0) {
              this.filterForm['confirmedDate'] = [this.filter.confirmedDateFrom, this.filter.confirmedDateTo];
            }
          }
        }

        let filter = this.handleFilterForm();

        this.tableDataloading = true;
        filter.token = this.userInfo.token;
        this.getTableData(filter);
      },
      getTableData(filter) {
        getSupplierPO('wait-to-ship-WH', filter).then(res => {
          delete filter.token;
          this.$router.push({name: this.$route.name, query: filter});
          this.setFilter(filter);
          this.$Spin.hide();
          this.$Loading.start();
          let resObj = res.data;
          if (resObj.status) {
            this.$Loading.finish();
            this.tableDataloading = false;
            this.waitToShipData = resObj.message.poItemList;
            this.$Message.success('Get Wait To Ship Success!');

//            this.waitToShipData.push(resObj.data[0]);
          } else {
            this.$Message.error('Get Wait To Ship Error!Please try again!');
            this.$Loading.error();
            this.notableDataTip = {
              active: true,
              msg: resObj.message
            };
          }
        }).catch((err) => {
          this.$Loading.error();
          this.notableDataTip = {
            active: true,
            msg: 'Failure! Please contact with MG IT team!'
          }
        });
      },
      handleFilterForm() {
        let filter = {};
        for (let item in this.filterForm) {
          if (this.filterForm[item] && item.indexOf('Date') < 0) {
            filter[item] = this.filterForm[item];
          } else if (this.filterForm[item] && item.indexOf('Date') >= 0) {
            if (this.filterForm[item][0] && this.filterForm[item][1]) {
              filter[item + 'From'] = this.filterForm[item][0];
              filter[item + 'To'] = this.filterForm[item][1];
            }
          }
        }
        return filter;
      },
      formSubmit: function () {
        let filter = this.handleFilterForm();

        filter.token = this.userInfo.token;
        this.$Spin.show();
        this.getTableData(filter);
      },
      formReset: function (name) {
        this.filterForm = {
          tag: '',
          upc: '',
          poNumber: '',
          confirmedDate: []
        };
        this.$refs[name].resetFields();

      },
      calcPrice(unitPrice, discount, specialDiscount, expQTY) {
        let netPrice = parseFloat(unitPrice), totalPrice = 0;
        if (!unitPrice) {
          return {
            netPrice: '',
            totalPrice: ''
          };
        } else {
          discount = discount ? discount : 0;
          specialDiscount = specialDiscount ? specialDiscount : 0;
          if (discount == 0 && specialDiscount == 0) {
            netPrice = unitPrice;
            totalPrice = ((netPrice * 10e6) * parseInt(expQTY)) / 10e6;
            totalPrice = parseFloat(totalPrice).toFixed(2);
          } else {
            let discountValue = parseFloat(discount), specialDiscountValue = parseFloat(specialDiscount);
            netPrice = !!discount ? (netPrice * 10e6) * ((1 - discountValue * 0.01) * 10e6) / 10e13 : netPrice;
            netPrice = !!specialDiscount ? (netPrice * 10e6) * ((1 - specialDiscountValue * 0.01) * 10e6) / 10e13 : netPrice;
            totalPrice = ((netPrice * 10e6) * parseInt(expQTY)) / 10e6;
          }
          netPrice = parseFloat(netPrice).toFixed(2);
          totalPrice = parseFloat(totalPrice).toFixed(2);
        }
        return {
          unitPrice,
          netPrice,
          totalPrice
        }
      },
      exportSelectedItemsFunc() {

        this.exportSelectedItems = [];
        this.waitToShipData.forEach(data => {
          if (data._checked) {
            this.exportSelectedItems.push(data.tag);
          }
        });
        if (this.exportSelectedItems.length == 0) {
          this.modalInstance('warning', 'warning', 'Please select item !');
          return;
        }
        let link = document.createElement('a');
        link.style.display = 'none';
        link.href = '/portal-api/download-wait-to-ship-po-list/token/' + this.userInfo.token + '/tags/' + this.exportSelectedItems;
        link.click();
        window.URL.revokeObjectURL(link.href);

        // waitToShipExcelExport(this.exportSelectedItems, this.$store.state.userInfo.token).then(res => {
        //   this.$Loading.start();
        //   let resData = res.data;
        //   if (!resData.status) {
        //     this.$Loading.finish();
        //     this.$Message.success('Export excel success!');
        //     this.modalInstance('success', 'Success', 'Export file success!');
        //     console.log(res);
        //     let url = window.URL.createObjectURL(new Blob([res.data], {type: "application/vnd.ms-excel"}));
        //     let link = document.createElement('a');
        //     link.style.display = 'none';
        //     link.href = url;
        //     link.setAttribute('download', 'test.xlsx');
        //     document.body.appendChild(link);
        //     link.click();
        //     window.URL.revokeObjectURL(url);
        //     document.body.removeChild(link);
        //   } else {
        //     this.$Loading.error();
        //     this.$Message.error('Export excel fail!');
        //   }
        // });
      },
      addSelectedItem(selection, row) {
        selection.forEach((selectionItem) => {
          this.waitToShipData.forEach(data => {
            if (selectionItem.tag == data.tag) {
              data._checked = true;
            }
          })
        });
      },
      removeSelectedItem(selection, row) {
        this.waitToShipData.forEach((data, index) => {
          if (row.tag == data.tag) {
            delete data._checked;
            delete data.Exp_QTY;
            data.status_text = 'wait to update';
          }
        })
      },
      allSelectedOperate(selection) {
        if (selection.length == 0) {
          this.confirmBtnDisable = true;
          this.waitToShipData.forEach((data, index) => {
            delete data._checked;
            delete data.Exp_QTY;
            data.status_text = 'wait to update';
          });
          return false;
        } else if (selection.length == this.waitToShipData.length) {
          this.confirmBtnDisable = false;
          this.waitToShipData.forEach(data => {
            data._checked = true;
          });
          return false;
        } else {
          this.confirmBtnDisable = false;
          return false;
        }

      },
      createShipment(type) {
        let dataArray = [];
        let willSubmitDataArrray = [];
        this.$Spin.show();
        this.submitTipMsg = [];
        this.waitToShipData.forEach((item) => {
          let discount = item.discount ? parseFloat(item.discount) : 0;
          let specialDiscount = item.specialDiscount ? parseFloat(item.specialDiscount) : 0;
          if (type == 'manually') {
            discount = parseFloat(discount * 10e6 / (100 * 10e6));
            specialDiscount = parseFloat(specialDiscount * 10e6 / (100 * 10e6));
          }

          if (!item.totalPrice && item._checked) {
            dataArray.push(item);
            this.submitTipMsg.push(item);
          } else if (item.totalPrice && item._checked) {
            willSubmitDataArrray.push({
              tag: item.tag,
              expQty: parseInt(item.expQty),
              unitPrice: parseFloat(item.unitPrice),
              discount: discount,
              specialDiscount: specialDiscount,
              netPrice: parseFloat(item.netPrice),
              totalPrice: parseFloat(item.totalPrice)
            });
          } else {
            dataArray.push(item);
          }
        });
        if (this.submitTipMsg.length > 0) {
          let submitModalTipHTML = '<p>Please complete the price calculation</p>';
          this.submitTipMsg.forEach(item => {
            submitModalTipHTML += '<p>UPC: ' + item.upc + '<p>'
          });
          this.modalInstance('error', 'error', submitModalTipHTML);
          this.$Message.error('Submit fail!');
          this.$Spin.hide();
          return;
        }

        if (willSubmitDataArrray.length > 0) {
          preCheckWaitToShip(willSubmitDataArrray, this.$store.state.userInfo.token).then(res => {
            if (res.data.status) {
              let _createShipmentData = res.data.message;
              _createShipmentData.shipmentListInfo.invoiceAttachment = {
                folderName: null,
                fileList: []
              };
              this.setCreateShipmentData(_createShipmentData);
              this.$router.push({name: 'Warehouse Shipment Create'});
            } else {
              this.$Message.error(res.data.message);
            }
          });
        } else {
          this.modalInstance('error', 'error', 'Please select item');
          this.$Message.error('Submit fail!');
          this.$Loading.error();
        }

        this.$Spin.hide();

      },
      fileBeforeUpload(file) {
        this.uploadPrompt.active = false;
        this.uploadData.token = this.$store.state.userInfo.token;
        qs.stringify(this.uploadData);
      },
      fileUploadProgress(event, file, fileList) {
      },
      fileUploadSuccess(response, file) {
        if (response.status) {
          this.uploadExcelResponseData = response.message.shipmentItemInfo;
          this.importItemsModal = false;
          this.$Message.success('File Upload Success');
          this.uploadExcelResponseData.forEach(resData => {
            this.waitToShipData.forEach((item, index) => {
              if (resData.tag == item.tag) {
                item._checked = true;
                item.expQty = resData.expQty;
                item.unitPrice = resData.unitPrice;
                item.discount = resData.discount;
                item.specialDiscount = resData.specialDiscount;
                item.netPrice = resData.netPrice;
                item.totalPrice = resData.totalPrice;
                this.waitToShipData.splice(index, 1, item);
              }
            })
          });
          this.$Spin.show();
          setTimeout(() => {
            let _createShipmentData = response.message;
            _createShipmentData.shipmentListInfo.invoiceAttachment = {
              folderName: null,
              fileList: []
            };
            this.setCreateShipmentData(_createShipmentData);
            this.$router.push({name: 'Warehouse Shipment Create'});
            this.$Message.success('Create Shipment Success');
            this.confirmBtnDisable = false;
          }, 3500);
        } else {
          this.uploadPrompt.active = true;
          this.uploadPrompt.msg = response.message;
        }
      },
      fileUploadError(error, file, fileList) {
        let data = JSON.parse(error.data);
        this.uploadPrompt.active = true;
        this.uploadPrompt.msg = data.message;
      },
      handleFormatError(file) {
        this.modalInstance('error', 'The file format is incorrect', 'File format of ' + file.name + ' is incorrect, please select xlsx.');
      },
      setConfirmedDate(e) {
        this.filterForm['confirmedDate'] = e;
      }
    },
    beforeRouteLeave(to, from, next) {
      if (to.path.indexOf('wait-to-ship') < 0) {
        window.localStorage.removeItem('shipmentData');
      }
      next();
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../../../../assets/sass/mixin';

  .form-group {
    margin: 20px 0 35px;
    .ivu-form-item {
      margin-bottom: 0;
    }
    .btn-group {
      text-align: left;
    }
  }

  .data-operates-top {
    padding-top: 0;
    @include fj(flex-start);
    .data-operates-group {
      margin-right: 30px;
      @include fj(flex-start);
      p, .item {
        margin-right: 10px;
      }
    }
  }

  .form-items-group {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .item {
      margin-bottom: 20px;
      flex: 0 0 25%;

      .ivu-form-item-label {
        font-weight: bold !important;
      }
    }
    .btn-group {
      margin-left: 50px;
    }
  }

  .data-list {
    margin-top: 15px;
  }
</style>
