<template>
  <div class="shipment-wrapper  full-height">
    <p class="shipment-number"><span class="bold">Shipment#:</span> {{shipmentNumber}}</p>
    <section class="section-title">
      <h3>Shipment Edit</h3>
    </section>
    <section class="table-size">
      <div class="table-size-cnt">
        Table size
        <Radio-group v-model="tableSize" type="button">
          <Radio label="large">large</Radio>
          <Radio label="default">medium(default)</Radio>
          <Radio label="small">small</Radio>
        </Radio-group>
      </div>
    </section>
    <section class="data-list">
      <Table border no-data-text :size="tableSize" :loading="tableDataloading" ref="waitToConfirm" :columns="tableColumns" :data="shipmentDetailData" v-if="shipmentDetailData"></Table>
      <div v-show="notableDataTip">
        <Alert type="warning" class="no-data-alter">
          A warning prompt
          <template slot="desc">
            No data for wait to ship!!
          </template>
        </Alert>
      </div>
    </section>
    <ShipmentForm :shipmentList="shipmentList" :shipmentForm="shipmentForm"  :shipAction="shipAction"></ShipmentForm>
  </div>
</template>

<script>
  import {mapState, mapActions} from 'vuex';
  import ShipmentForm from '@/components/ShipmentForm.vue';
  import { shipmentDetail } from '@/api/index';
  export default {
    name: 'EditShipment',
    components: { ShipmentForm },
    data () {
      return {
        shipAction: 'edit',
        shipmentNumber: '',
        tableDataloading: true,
        notableDataTip: false,
        tableSize: 'default',
        confirmBtnDisable: true,
        shipmentList: [],
        shipmentForm: {
          fulfillment: 'HK',
          supplierCourier: '',
          dispatchDate: '',
          eta: '',
          trackingNo: '',
          shippingFee: '',
          invoiceNo: '',
          invoiceDate: '',
          invoiceAttachment: {
            folderName: null,
            fileList: []
          },
          notes: ''
        },
        shipmentDetailData: [],
        tableColumns: [
          {
            title: 'Tag',
            align: 'center',
            width: 90,
            fixed: 'left',
            key: 'tag'
          },
          {
            title: 'UPC',
            align: 'center',
            minWidth: 125,
            fixed: 'left',
            key: 'upc'
          },
          {
            title: 'From PO',
            align: 'center',
            minWidth: 150,
            key: 'fromPO'
          },
          {
            title: 'Category',
            align: 'center',
            width: 160,
            key: 'category'
          },
          {
            title: 'Brand',
            align: 'center',
            minWidth: 130,
            key: 'brand'
          },
          {
            title: 'Product Code',
            width: 85,
            align: 'center',
            key: 'productCode'
          },
          {
            title: 'Product Name',
            minWidth: 185,
            key: 'productName'
          },
          {
            title: 'Colour Code',
            width: 80,
            align: 'center',
            key: 'colourCode'
          },
          {
            title: 'Size',
            width: 65,
            align: 'center',
            key: 'size'
          },
          {
            title: 'Order QTY',
            width: 70,
            align: 'center',
            key: 'orderQty'
          },
          {
            title: 'Exp. QTY',
            width: 70,
            align: 'center',
            key: 'expQty'
          },
          {
            title: 'Unit Price',
            align: 'center',
            width:110,
            key: 'unitPrice',
            render: (h, params) => {
              return (params.row.unitPrice || params.row.unitPrice == 0)? h('span', this.$store.state.userInfo.currencyUnit + ' ' + params.row.unitPrice): params.row.unitPrice;
            }
          },
          {
            title: 'Discount',
            align: 'center',
            width:110,
            key: 'discount',
            render: (h, params) => {
              return params.row.discount || params.row.discount == 0? h('span',  params.row.discount * 100 + '%'): params.row.discount;
            }
          },
          {
            title: 'Special Discount',
            align: 'center',
            minWidth:150,
            key: 'specialDiscount',
            render: (h, params) => {
              return params.row.specialDiscount || params.row.specialDiscount == 0? h('span', params.row.specialDiscount * 100 + '%'): params.row.specialDiscount;
            }
          },
          {
            title: 'Net Price',
            width: 90,
            align: 'center',
            key: 'netPrice',
            render: (h, params) => {
              return params.row.netPrice || params.row.netPrice == 0? h('span', this.$store.state.userInfo.currencyUnit + ' ' + params.row.netPrice): params.row.netPrice;
            }
          },
          {
            title: 'Total Price',
            width: 100,
            align: 'center',
            key: 'totalPrice',
            render: (h, params) => {
              return params.row.totalPrice || params.row.totalPrice == 0? h('span', this.$store.state.userInfo.currencyUnit + ' ' + params.row.totalPrice): params.row.totalPrice;
            }
          }
        ]
      }
    },
    computed:{
      ...mapState({
        userInfo: state => {
          return state.userInfo;
        }
      })
    },
    created () {

      this.shipmentNumber = this.$route.query.shipment;
      this.initData();
    },
    methods: {
      ...mapActions(['setCreateShipmentData', 'getCreateShipmentData']),
      initData () {
        shipmentDetail(this.userInfo.token, this.$route.query.shipmentId).then(res => {
          this.$Loading.start();
          let resObj = res.data.message;
          if (res.data.status) {
            this.$Loading.finish();
            this.tableDataloading = false;
            this.shipmentList =  JSON.parse(JSON.stringify(resObj.shipmentItemInfo));
            this.shipmentForm = JSON.parse(JSON.stringify(resObj.shipmentListInfo));
            let shipmentListLen = this.shipmentList.length;

            this.setCreateShipmentData({shipmentItemInfo: resObj.shipmentItemInfo, shipmentListInfo: resObj.shipmentListInfo});

            if (shipmentListLen > 0) {

              this.shipmentDetailData = this.shipmentList;
              let orderQTY = 0, ExpQTY = 0, netPrice = 0, totalPrice = 0;
              let alreadyHasTotalObj = this.shipmentList.some(function (item) {
                return item.tag == 'Total';
              });
              if (alreadyHasTotalObj) {
                return;
              }
              this.shipmentList.forEach(item => {
                item.expQty = item.expQty? item.expQty: 0;
                let orderQTYValue = parseInt(item.orderQty), ExpQTYValue = parseInt(item.expQty);
                let netPriceValue = item.netPrice? parseFloat(item.netPrice): 0;
                let totalPriceValue = item.totalPrice? parseFloat(item.totalPrice): 0;
                orderQTY += orderQTYValue;
                ExpQTY += ExpQTYValue;
                netPrice += netPriceValue;
                totalPrice += totalPriceValue;
              });
              let totalObj = {
                tag: 'Total',
                orderQty: orderQTY,
                expQty: ExpQTY,
                netPrice: netPrice.toFixed(2),
                totalPrice: totalPrice.toFixed(2)
              };
              this.shipmentDetailData[shipmentListLen] = totalObj;
            } else {

              this.notableDataTip = true;
            }
          } else {
            this.$Loading.error();
            this.notableDataTip = true;
          }
        });
      }
    }
  }
</script>

<style lang="scss" scoped>
  .full-height {
    min-height: 100% !important;
  }
  .shipment-number {
    padding-bottom: 15px;
    text-align: left;
    border-bottom: 1px solid #e9eaec;
    .bold {
      font-weight: bold;
    }
  }
  .data-list {
    margin-top: 20px;
  }
</style>
