<template>
  <div class="shipment-wrapper  full-height">
    <p class="shipment-number"><span class="bold">Shipment#:</span> {{shipmentNumber}}</p>
    <section class="section-title">
      <h3>Shiped  Items Preview</h3>
    </section>
    <section class="table-size">
      <div class="table-size-cnt">
        Table size
        <Radio-group v-model="tableSize" type="button">
          <Radio label="large">large</Radio>
          <Radio label="default">medium(default)</Radio>
          <Radio label="small">small</Radio>
        </Radio-group>
      </div>
    </section>
    <section class="data-list">
      <Table border no-data-text :size="tableSize" :loading="tableDataloading" ref="waitToConfirm" :columns="tableColumns" :data="shipmentDetailData" v-if="shipmentDetailData"></Table>
      <div v-show="notableDataTip">
        <Alert type="warning" class="no-data-alter">
          A warning prompt
          <template slot="desc">
            No data for wait to ship!!
          </template>
        </Alert>
      </div>
    </section>
    <section class="section-title">
      <h3>Invoice details</h3>
    </section>
    <ul class="invoice-detail-list">
      <li><p>*Fulfillment:</p><p>{{ shipmentDetailObj.fulfillment }}</p></li>
      <li><p>*Supplier Courier:</p><p>{{ shipmentDetailObj.supplierCourier }}</p></li>
      <li><p>*Dispatch Date:</p><p>{{ shipmentDetailObj.dispatchDate }}</p></li>
      <li><p>*ETA:</p><p>{{ shipmentDetailObj.eta }}</p></li>
      <li><p>*Tracking No.:</p><p>{{ shipmentDetailObj.trackingNo }}</p></li>
      <li><p>*Shipping fee:</p><p>{{ shipmentDetailObj.shippingFee }}</p></li>
      <li><p>*Invoice No.:</p><p>{{ shipmentDetailObj.invoiceNo }}</p></li>
      <li><p>*Invoice Date:</p><p>{{ shipmentDetailObj.invoiceDate }}</p></li>
      <li>
        <p>*Invoice Attachment:</p>
        <section class="invoice-wrapper">
          <div class="invoice-attachment" v-for="(item, index) in shipmentDetailObj.invoiceAttachment.fileList" :key="index">
            <div class="invoice-attachment-file">
              <!--<img :src="item.default_img">-->
              <img src="@/assets/images/pdf-default-icon.png" alt="" v-if="item.fileType == 'pdf'">
              <img src="@/assets/images/excel-default-icon.jpg" alt="" v-if="item.fileType == 'xls' || item.fileType == 'xlsx'">
              <p class="invoice-attachment-icons">
                <a :download="item.fileName + '.' + item.fileType" @click="handleDownload(item, $event)">
                  <Icon type="ios-cloud-download-outline" class="icon"/>
                </a>
              </p>
            </div>
            <p class="invoice-attachment-name">{{item.fileName}}</p>
          </div>
        </section>
      </li>
      <li><p>Notes:</p><p>{{ shipmentDetailObj.notes }}</p></li>
    </ul>
  </div>
</template>

<script>
  import {mapState, mapMutations} from 'vuex';
  import ShipmentForm from '@/components/ShipmentForm.vue';
  import { shipmentDetail } from '@/api/index';
  export default {
    name: 'ShipmentDetail',
    components: { ShipmentForm },
    data () {
      return {
        shipAction: 'edit',
        shipmentNumber: '',
        tableDataloading: true,
        notableDataTip: false,
        tableSize: 'default',
        confirmBtnDisable: true,
        shipmentList: [],
        shipmentDetailObj: {
          fulfillment: '',
          supplierCourier: '',
          dispatchDate: '',
          ETA: '',
          tracking: '',
          shippingFee: null,
          invoice: '',
          invoiceDate: '',
          invoiceAttachment: {},
          notes: ''
        },
        invoiceAttachmentVisible: false,
        shipmentDetailData: [],
        tableColumns: [
          {
            title: 'Tag',
            align: 'center',
            width: 90,
            fixed: 'left',
            key: 'tag'
          },
          {
            title: 'upc',
            align: 'center',
            minWidth: 125,
            fixed: 'left',
            key: 'upc'
          },
          {
            title: 'From PO',
            align: 'center',
            minWidth: 150,
            key: 'fromPO'
          },
          {
            title: 'Category',
            align: 'center',
            width: 160,
            key: 'category'
          },
          {
            title: 'Brand',
            align: 'center',
            minWidth: 130,
            key: 'brand'
          },
          {
            title: 'Product Code',
            width: 85,
            align: 'center',
            key: 'productCode'
          },
          {
            title: 'Product Name',
            minWidth: 185,
            key: 'productName'
          },
          {
            title: 'Colour Code',
            width: 80,
            align: 'center',
            key: 'colourCode'
          },
          {
            title: 'Size',
            width: 65,
            align: 'center',
            key: 'size'
          },
          {
            title: 'Order QTY',
            width: 70,
            align: 'center',
            key: 'orderQty'
          },
          {
            title: 'Exp. QTY',
            width: 70,
            align: 'center',
            key: 'expQty'
          },
          {
            title: 'Unit Price',
            align: 'center',
            width:110,
            key: 'unitPrice',
            render: (h,params) => {
              return params.row.unitPrice || params.row.unitPrice == 0 ? h('span', this.userInfo.currencyUnit + ' ' + params.row.unitPrice) : params.row.unitPrice;
            }
          },
          {
            title: 'Discount',
            align: 'center',
            width:110,
            key: 'discount',
            render: (h, params) => {
              return params.row.discount || params.row.discount == 0 ? h('span', this.userInfo.currencyUnit + ' ' + params.row.discount) : params.row.discount;
            }
          },
          {
            title: 'Special Discount',
            align: 'center',
            minWidth:150,
            key: 'specialDiscount',
            render: (h, params) => {
              return params.row.specialDiscount || params.row.specialDiscount == 0 ? h('span', this.userInfo.currencyUnit + ' ' + params.row.specialDiscount) : params.row.specialDiscount;
            }
          },
          {
            title: 'Net Price',
            width: 90,
            align: 'center',
            key: 'netPrice',
            render: (h, params) => {
              return params.row.netPrice || params.row.netPrice == 0 ? h('span', this.userInfo.currencyUnit + ' ' + params.row.netPrice) : params.row.netPrice;
            }
          },
          {
            title: 'Total Price',
            width: 100,
            align: 'center',
            key: 'totalPrice',
            render: (h, params) => {
              return params.row.totalPrice || params.row.totalPrice == 0 ? h('span', this.userInfo.currencyUnit + ' ' + params.row.totalPrice) : params.row.totalPrice;
            }
          }
        ]
      }
    },
    computed:{
      ...mapState({
        userInfo(state) {
          return state.userInfo;
        }
      })
    },
    created () {
      this.shipmentNumber = decodeURI(this.$route.query.shipment);
      this.initData();
    },
    methods: {
      initData () {
        shipmentDetail(this.userInfo.token, this.$route.query.shipmentId).then(res => {
          this.$Loading.start();
          let resObj = res.data.message;
          if (res.data.status) {
            this.$Loading.finish();
            this.tableDataloading = false;
            this.shipmentList =  resObj.shipmentItemInfo;
            this.shipmentDetailObj = resObj.shipmentListInfo;
            //this.shipmentDetailObj.invoiceAttachment = resObj.data.invoice_detail.invoiceAttachment;
            let shipmentListLen = this.shipmentList.length;
            if (shipmentListLen > 0) {
              this.shipmentDetailData = this.shipmentList;
              let orderQTY = 0, ExpQTY = 0, netPrice = 0, totalPrice = 0;
              let alreadyHasTotalObj = this.shipmentList.some(function (item) {
                return item.tag == 'Total';
              });
              if (alreadyHasTotalObj) {
                return;
              }
              this.shipmentList.forEach(item => {
                item.expQty = item.expQty ? item.expQty : 0;
                let orderQTYValue = parseInt(item.orderQty), ExpQTYValue = parseInt(item.expQty);
                let netPriceValue = item.netPrice? parseFloat(item.netPrice) : 0;
                let totalPriceValue = item.totalPrice? parseFloat(item.totalPrice): 0;
                orderQTY += orderQTYValue;
                ExpQTY += ExpQTYValue;
                netPrice += netPriceValue;
                totalPrice += totalPriceValue;
              });
              let totalObj = {
                tag: 'Total',
                orderQty: orderQTY,
                expQty: ExpQTY,
                netPrice: netPrice.toFixed(2),
                totalPrice: totalPrice.toFixed(2)
              }
              this.shipmentDetailData[shipmentListLen] = totalObj;
            } else {
              this.notableDataTip = true;
            }
          } else {
            this.$Loading.error();
            this.notableDataTip = true;
          }
        });
      },
      handleDownload(file, event) {
        let link = event.currentTarget;
        link.href = '/portal-api/download-invoice-attachment/token/' + this.userInfo.token + '/fileName/' + file.fileName + '.' + file.fileType + '/folderName/' + this.shipmentDetailObj.invoiceAttachment.folderName;
        window.URL.revokeObjectURL(link.href);
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '../../../../../assets/sass/mixin';
  .full-height {
    min-height: 100% !important;
  }
  .shipment-number {
    padding-bottom: 15px;
    text-align: left;
    border-bottom: 1px solid #e9eaec;
    .bold {
      font-weight: bold;
    }
  }
  .invoice-detail-list {
    li {
      padding: 8px 20px;
      @include fj('flex-start');
      p {
        &:first-child {
          width: 160px;
          text-align: left;
        }
        padding-right: 20px;
      }
    }
  }
  .invoice-wrapper {
    @include fj(flex-start);
    margin-bottom: 15px;
  }
  .invoice-attachment {
    width: 90px;
    height: 90px;
  }
  .invoice-attachment-file {
    @include fj;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    img {
      margin: 0 auto;
    }
    .invoice-attachment-icons {
      display: none;
      position: absolute;
      width: 100%;
      height: 100%;
      padding: 0;
      color: #fff;
      left: 0;
      top: 0;
      z-index: 2;
      background-color: rgba(0, 0, 0, 0.6);
      cursor: pointer;
      box-shadow: 0 1px 1px rgba(0,0,0,.2);
      margin-right: 4px;
      .icon {
        margin: 0 auto;
        font-size: 25px;
        font-weight: bold;
      }
    }
    &:hover {
      .invoice-attachment-icons {
        @include fj;
        justify-content: center;
      }
    }
  }
  .invoice-attachment-name {
    overflow: hidden;
    width: 100%;
    padding: 0 !important;
    white-space:nowrap;
    text-overflow:ellipsis;
    -o-text-overflow:ellipsis;
    font-size: 12px;
    text-align: center;
  }

  .data-list {
    margin-top: 20px;
  }
</style>
