/**
 * @description Description
 *
 * @author Candy <candy.yan@motionglobal.com>
 * @date  Creation Date 10/05/2018
 */
@import './mixin';

body {
  color: $fontColor;
  background-color: $backgroundColor;
}

body * {
  box-sizing: border-box;
}

.clearfix:after, .float-start-cnt:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#app {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  font-family: Helvetica, Arial, sans-serif, 'Avenir';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

.router-slid-enter-active, .router-slid-leave-active {
  transition: all .3s;
}

.router-slid-enter, .router-slid-leave-active {
  transform: translate3d(2rem, 0, 0);
  opacity: 0;
}

.fiter-box {
  margin-bottom: 15px;
}

.float-start-cnt {
  margin-bottom: 15px;
  .float-item {
    float: left;
    margin-right: 10px;
  }
}

.bread-crumb .ivu-breadcrumb-item-separator {
  color: #495060;
}

.ivu-alert {
  text-align: left;
}

.table-size, .data-operates {
  margin: 5px auto;
  text-align: left;
}

.data-operates {
  .cnt-left {
    p, button {
      float: left;
      margin-right: 10px;
    }
    p {
      line-height: 32px;
    }
  }
  .cnt-right {
    width: 150px;
  }
}

.cnt-left {
  float: left;
}

.cnt-right {
  float: right;
}

.table-size {
  @include fj;
}

.data-operates-top {
  padding: 15px 0 10px;
}

.data-operates-bottom {
  padding-top: 10px;
}

.big-button {
  padding-left: 20px;
  padding-right: 20px;
  font-weight: bold;
  font-size: 16px;
}

.items-remain {
  padding-right: 20px;
  font-size: 16px;

  span {
    font-size: 15px;
    font-weight: bold;
    overflow: hidden;
    display: inline-block;
    height: 20px;
    min-width: 20px;
    line-height: 20px;
    text-align: center;
    color: #fff;
    background-color: #FF9800;
    padding: 0 6px;
    border-radius: 10px;
    vertical-align: middle;
  }
}

.export-list-wrapper, .sup-page-wrapper {
  position: absolute;
  width: 100%;
  min-width: 100%;
  height: 100%;
  padding: 20px;
  left: 0;
  top: 0;
  background-color: #fff;
  z-index: 999;
  border: 1px solid #dddee1;
  border-color: #e9eaec;
}

.export-list-wrapper {
  padding: 0;
}

.shipment-wrapper {
  width: 100%;
  height: auto;
  background-color: #fff;
  z-index: 999;
}

.no-data-alter {
  width: 30%;
  margin: 50px auto;
  span {
    text-align: center;
  }
}

.pagination-wrapper {
  margin: 15px auto;
}

.section-title {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  text-align: left;
  border-bottom: 1px solid #e9eaec;
  h3 {
    font-size: 16px;
  }
}

.detail-info-form {
  padding: 20px 0;
  background-color: #fff;
}

.ivu-table th {
  background-color: #dedede;
}

.account-wrapper .ivu-select-dropdown {
  z-index: 1000;
}

.data-preview-modal .ivu-modal-footer {
  border: none;
}

.customer-shipment-card {
  text-align: left;

  .ivu-card-head {
    background: #2d8cf0;
  }

  .ivu-table th {
    background: #eee;
  }
}

.captcha-wrapper {
  .captcha-spin div {
    top: 75% !important;
    left: 50%;
  }
}

.form-items-group {
  .ivu-form-item-label {
    font-weight: bold !important;
  }
}

.ivu-form-item {
  .ivu-form-item-label {
    font-weight: bold !important;
  }
}

.WTS-input-item input {
  text-align: center !important;
}
